@import '@fuoco.appdev/web-components/dist/esm/styles.scss';

.ripples {
    border-radius: 6px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;

    & .left-content {
        display: flex;
        flex-direction: row;
        gap: $mp-4;
        align-items: center;
        width: 100%;

        & .avatars {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            min-width: 40px;

            & .avatar-status-container {
                position: relative;
                width: 40px;
                height: 40px;

                & .avatar-container {
                    margin-right: -1.5em;
                }

                & .avatar-container-margin {
                    margin-right: -1.5em;
                }

                & .avatar-online-status {
                    position: absolute;
                    height: 16px;
                    width: 16px;
                    background-color: #00C853;
                    border-radius: 16px;
                    right: -2px;
                    bottom: -2px;
                    z-index: 1;
                    border: 3px solid #fff;
                }
            }
        }

        & .message-info-container {
            display: flex;
            flex-direction: column;
            gap: $mp-1;

            & .full-name {
                color: $brand-900;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
            }

            & .last-message {
                color: $brand-900;
                font-size: $font-size-xs;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            }

            & .last-message-unseen {
                font-weight: $font-weight-bold;
            }
        }
    }

    & .right-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
        gap: $mp-1;

        & .message-date {
            font-size: $font-size-xs;
            color: $brand-900;
            white-space: nowrap;
        }

        & .message-date-unseen {
            font-weight: $font-weight-bold;
        }

        & .message-not-seen-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            & .message-not-seen {
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background-color: $brand-500;
            }
        }
    }

    & .request-button-container {
        display: flex;
        flex-direction: row;
        gap: $mp-2;
    }
}

.root:hover {
    cursor: pointer;

    & .left-content {
        & .user-info-container {
            & .username {
                color: $brand-700;
            }

            & .full-name {
                color: $brand-700;
            }
        }
       
    }
}

.root-desktop {
    padding: $mp-4;

    & .left-content-desktop {
        & .message-info-container-desktop {
            & .last-message-desktop {
                width: 200px;
            }
        }
    }
}

.root-mobile {
    padding: $mp-4;
}

.root-mobile {

}

.root-tablet {

}

.avatar-container {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
}

.primary-button {
    background-color: $brand-700 !important;
}

.secondary-button {
    background-color: $gray-100 !important;
    color: $brand-900 !important;
    border: 1px solid $brand-900 !important;
}