@import '@fuoco.appdev/web-components/dist/esm/styles.scss';

.root {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 6px;

    & .details {
        display: flex;
        width: 100%;
        margin-bottom: $mp-1;

        & .thumbnail {
            position: relative;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 32px;
            border-radius: 40px;
            background-color: $gray-100;
            margin-right: $mp-4;

            & .thumbnail-image {
                max-height: 100%;
                width: auto;
                color: $brand-900;
            }

            & .no-thumbnail-image {
                padding: $mp-1;
                max-height: 100%;
                max-width: 100%;
                width: auto;
                color: $brand-900;
            }
        }

        & .message-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $mp-1;

            & .message {
                color: $brand-900;
                font-size: $font-size-sm;

                & .message-content {
                    & .message-bold {
                        font-weight: $font-weight-bold;
                    }
                }
            }

            & .message-date {
                color: $brand-900;
                font-size: $font-size-xs;
            }
        }

        & .right-details-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: right;
            -ms-flex-pack: right;
            justify-content: right;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;

            & .right-details-content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                & .pricing {
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    color: $brand-900;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-sm;
                }
            }

        }

        & .remove-container {
            & .remove-button {
                color: $brand-900;
            }
        }
    }

    & .right-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.root-desktop {
    padding: $mp-4 $mp-6;

    & .details-desktop {
        & .thumbnail-desktop {
            & .thumbnail-image-desktop {}
        }

        & .title-container-desktop {
            & .title-desktop {}

            & .status-desktop {}
        }

        & .right-details-container-desktop {
            & .right-details-content-desktop {
                & .pricing-desktop {}
            }

        }

        & .remove-container-desktop {
            & .remove-button-desktop {}
        }
    }

    & .right-content-desktop {
        gap: $mp-6;
    }
}

.root-tablet {
    padding: $mp-4 $mp-6;

    & .details-tablet {

        & .thumbnail-tablet {
            & .thumbnail-image-tablet {}
        }

        & .title-container-tablet {
            & .title-tablet {}

            & .status-tablet {}
        }

        & .right-details-container-tablet {
            & .right-details-content-tablet {
                & .pricing-tablet {}
            }

        }

        & .remove-container-tablet {
            & .remove-button-tablet {}
        }
    }

    & .right-content-tablet {
        gap: $mp-6;
    }
}

.root-mobile {
    padding: $mp-4;

    & .details-mobile {
        & .thumbnail-mobile {
            & .thumbnail-image-mobile {}
        }

        & .title-container-mobile {
            & .title-mobile {}

            & .status-mobile {}
        }

        & .right-details-container-mobile {
            & .right-details-content-mobile {
                & .pricing-mobile {}
            }

        }

        & .remove-container-mobile {
            & .remove-button-mobile {}
        }
    }

    & .right-content-mobile {
        gap: $mp-2;
    }
}

.secondary-button {
    border-color: $brand-900;
    color: $brand-900;
    background-color: transparent;
}

.secondary-button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.avatar-icon {
    width: 32px;
    height: 32px;
}

.primary-button {
    background-color: $brand-700 !important;
}

.secondary-button {
    background-color: $gray-100 !important;
    color: $brand-900 !important;
    border: 1px solid $brand-900 !important;
}