@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  display: grid;
  grid-template-columns: 132fr 561fr 747fr;

  & .content-desktop {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 20vh;
    margin-bottom: 20vh;

    & .form-title-desktop {
      width: 80%;
    }

    & .form-subtitle-desktop {
      width: 55%;
      font-size: $font-size-lg;
    }

    & .form-desktop {
      width: 60%;
      margin-top: $mp-8;
    }

    & .continue-container-desktop {
      & .continue-content-desktop {
        margin-bottom: 10vh;

        & .request-title-desktop {
        }

        & .request-subtitle-desktop {
          width: 55%;
        }
      }
    }
  }
}

.root-mobile {
  & .content-mobile {
    margin: 0 $mp-4;
    padding-top: 56px;

    & .form-container-mobile {
      & .form-title-mobile {
        padding-top: 10vh;
        font-size: 24pt;
      }

      & .form-subtitle-mobile {
        font-size: $font-size-lg;
      }

      & .form-mobile {
        padding-top: $mp-8;

        & .form-content-mobile {
          & .input-container-mobile {
            height: 100%;
          }

          & .send-button-mobile {
            position: fixed !important;
            bottom: $mp-4;
            left: 0;
            padding: 0 $mp-4;
          }
        }
      }
    }

    & .continue-container-mobile {
      & .continue-content-mobile {
        & .request-title-mobile {
        }

        & .request-subtitle-mobile {
        }
      }
    }
  }
}

.root {
  height: 100%;

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .animated-content {
      & .form-title {
        height: fit-content;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        padding-bottom: $mp-8;
      }

      & .form-subtitle {
        height: fit-content;
        line-break: normal;
        white-space: pre-line;
        color: rgba(255, 255, 255, 204);
      }

      & .form {
        display: flex;
        flex-direction: column;

        & .form-content {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        & .send-button {
          width: 100%;

          & .send-button-content {
            width: 100%;
          }
        }
      }
    }

    & .continue-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;

      & .request-title {
        height: fit-content;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        padding-bottom: $mp-6;
        font-size: 20pt;
      }

      & .request-subtitle {
        height: fit-content;
        line-break: normal;
        white-space: pre-line;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: $mp-8;
        width: 100%;
        font-weight: $font-weight-bold;
      }

      & .next-button {
        border-radius: $rounded-full;
        width: auto;
      }
    }
  }
}
