.root {
    display: grid;
    grid-template-columns: 132fr 561fr 747fr;
    height: 100%;

    & .content {
        display: flex;
        grid-column-start: 2;
        grid-column-end: 3;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30%;

        & :hover {
            cursor: auto;
        }
    
        & :active {
            cursor: auto;
        }

        & .title {
            height: fit-content;
            width: 80%;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        & .subTitle {
            height: fit-content;
            width: 55%;
            line-break: normal;
            white-space: pre-line;
            color: rgba(255, 255, 255, 204);
        }
    }
}