.root {
    display: flex;
    height: 100vh;
    
    & .background {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    & .content {
        display: grid;
        grid-template-rows: 56fr 968fr;
        width: 100vw;
        z-index: 1;

        & :hover {
            cursor: grab;
        }
    
        & :active {
            cursor: grabbing;
        }

        & .navbar {
            display: grid;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-template-columns: 16fr 1408fr 16fr;

            & :hover {
                cursor: auto;
            }
        
            & :active {
                cursor: auto;
            }

            & .navbarContent {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                grid-column-start: 2;
                grid-column-end: 3;

                & .logoContainer {
                    display: grid;
                    grid-template-rows: 12fr 36fr 12fr;
    
                    & .logo {
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                }
    
                & .navbarContentRight {
                    display: flex;

                    & .navbarContentRightGrid {
                        display: grid;
                        grid-template-rows: 8fr 44fr 8fr;

                        & span, .navbarButton {
                            grid-row-start: 2;
                            grid-row-end: 3;
                        }
                    }
                }
            }
        }

        & .children {
            overflow-y: auto;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
}