.root {
    display: flex;
    height: 100vh;
    
    & .background {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    & .alert {
        position: absolute;
        left: 10%;
        z-index: 12;
        width: 80%;

        & :hover {
            cursor: auto;
        }
    
        & :active {
            cursor: auto;
        }
    }

    & .content {
        width: 100vw;
        z-index: 1;

        & :hover {
            cursor: grab;
        }
    
        & :active {
            cursor: grabbing;
        }

        & .navbar {
            position: absolute;
            display: grid;
            grid-template-columns: 16fr 1408fr 16fr;
            width: 100%;

            & :hover {
                cursor: auto;
            }
        
            & :active {
                cursor: auto;
            }

            & .navbarContent {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                grid-column-start: 2;
                grid-column-end: 3;
                max-height: 56px;

                & .logoContainer {
                    display: grid;
                    grid-template-rows: 12fr 36fr 12fr;
    
                    & .logo {
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                }
    
                & .navbarContentRight {
                    display: flex;

                    & .navbarContentRightGrid {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        & .children {
            overflow-y: auto;
            height: 100%;
        }
    }
}