@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #263297, #070b2e);

  & .card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.card-root {
  position: absolute;
  z-index: 24;
  width: 250px;
  height: 238px;
  transform: translate(-50%, -100%) translate(-100px, -100px);
  scale: 0;
  transition: scale $duration-expand-sm;
  transition-timing-function: $transition-standard-easing;

  & .card {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    background-color: rgba(#e0e0e0, 0.3);
    backdrop-filter: blur(6px);

    & .card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: $rounded-md;
      width: 250px;
      height: fit-content;

      & .card-content {
        & .cover-image-container {
          position: relative;
          border-top-left-radius: $rounded-md;
          border-top-right-radius: $rounded-md;
          background-color: rgba($gray-100, 0.8);
          backdrop-filter: blur(6px);
          min-height: calc((250px / 3) * 2);
          user-select: none;
          overflow: hidden;
        }

        & .app-content {
          padding: $mp-2;

          & .app-info {
            display: flex;
            flex-direction: row;
            margin-bottom: $mp-1;

            & .avatar {
              width: 24px;
              height: 24px;
            }

            & .app-name-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: $mp-2;

              & .app-name {
                color: white;
                font-size: $font-size-xs;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              & .company-name {
                color: white;
                font-weight: 500;
                font-size: 10px;
                line-height: 11px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          & .status-container {
            width: 100%;
            text-align: end;

            & .status {
              color: white;
              font-weight: 500;
              font-size: 11px;
            }
          }
        }
      }

      & .progress-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $mp-2;
        padding: $mp-1;

        & .progress-pill {
          height: 8px;
          width: 100%;
          border-radius: $rounded-full;
          border: 1px solid $gray-200;
          opacity: 0.8;
        }

        & .progress-pill-active {
          background-color: $brand-200;
          opacity: 1;
          border: none;
        }
      }
    }
  }

  & .card-pin {
    translate: calc(125px - 5px) -1px;
    width: 10px;
    height: 10px;
    rotate: 180deg;
    background-color: rgba(#e0e0e0, 0.3);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    backdrop-filter: blur(6px);
  }
}

.root-none {
  display: none;
}
