@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

$particleSize: 25vmin;
$animationDuration: 30s;
$amount: 10;
.floating-orbs span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (rgba(#10dada, 0.15), rgba(#2480b4, 0.15), rgba(#10dada, 0.15));
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.root {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #263297, #070b2e);
  z-index: 0;

  & .floating-orbs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  & .world-glow {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: $rounded-full;
    color: $brand-400;
    box-shadow: 0px 0px 2000px 100px;
    transform: translate(-50%, -100%) translate(-1000px, -1000px);
  }

  & .world-glow-none {
    display: none;
  }

  & .world-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  & .world-container-none {
    display: none;
  }

  & .card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  & .card-container-none {
    display: none;
  }
}

.card-root {
  position: absolute;
  z-index: 24;
  width: 250px;
  height: 238px;
  transform: translate(-50%, -100%) translate(-100px, -100px);
  scale: 0;
  transition: scale $duration-expand-sm;
  transition-timing-function: $transition-standard-easing;

  & .card {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    background-color: rgba(#000, 0.25);
    backdrop-filter: blur(6px);

    & .card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: $rounded-md;
      width: 250px;
      height: fit-content;

      & .card-content {
        & .cover-image-container {
          position: relative;
          border-top-left-radius: $rounded-md;
          border-top-right-radius: $rounded-md;
          background-color: rgba(#e0e0e0, 0.25);
          backdrop-filter: blur(6px);
          min-height: calc((250px / 3) * 2);
          user-select: none;
          overflow: hidden;
        }

        & .app-content {
          padding: $mp-2;

          & .app-info {
            display: flex;
            flex-direction: row;
            margin-bottom: $mp-1;

            & .avatar {
              width: 24px;
              height: 24px;
            }

            & .app-name-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: $mp-2;

              & .app-name {
                color: white;
                font-size: $font-size-xs;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              & .company-name {
                color: white;
                font-weight: 500;
                font-size: 10px;
                line-height: 11px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          & .status-container {
            width: 100%;
            text-align: end;

            & .status {
              color: white;
              font-weight: 500;
              font-size: 11px;
            }
          }
        }
      }

      & .progress-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $mp-2;
        padding: $mp-1;

        & .progress-pill {
          height: 8px;
          width: 100%;
          border-radius: $rounded-full;
          border: 1px solid white;
          opacity: 0.35;
        }

        & .progress-pill-active {
          background-color: $brand-400;
          opacity: 1;
          border: none;
        }
      }
    }
  }

  & .card-pin {
    translate: calc(125px - 5px) -1px;
    width: 10px;
    height: 10px;
    rotate: 180deg;
    background-color: rgba(#000, 0.25);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    backdrop-filter: blur(6px);
  }
}
