-- This script was generated by the Schema Diff utility in pgAdmin 4. 
-- For the circular dependencies, the order in which Schema Diff writes the objects is not very sophisticated 
-- and may require manual changes to the script to ensure changes are applied in the correct order.
-- Please report an issue for any failure with the reproduction steps. 
 BEGIN; 
 CREATE TABLE IF NOT EXISTS public.account
(
    id uuid NOT NULL DEFAULT uuid_generate_v4(),
    user_id text COLLATE pg_catalog."default",
    supabase_id text COLLATE pg_catalog."default",
    company text COLLATE pg_catalog."default",
    phone_number text COLLATE pg_catalog."default",
    location jsonb,
    language text COLLATE pg_catalog."default",
    request_status text COLLATE pg_catalog."default",
    CONSTRAINT account_pkey PRIMARY KEY (id)
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.account
    OWNER to supabase_admin;

ALTER TABLE IF EXISTS public.account
    ENABLE ROW LEVEL SECURITY;

GRANT ALL ON TABLE public.account TO anon;

GRANT ALL ON TABLE public.account TO authenticated;

GRANT ALL ON TABLE public.account TO postgres;

GRANT ALL ON TABLE public.account TO service_role;

GRANT ALL ON TABLE public.account TO supabase_admin;
CREATE TABLE IF NOT EXISTS public.app
(
    id uuid NOT NULL DEFAULT uuid_generate_v4(),
    created_at timestamp with time zone DEFAULT now(),
    name text COLLATE pg_catalog."default",
    status text COLLATE pg_catalog."default",
    updated_at timestamp with time zone DEFAULT now(),
    links jsonb[],
    user_id text COLLATE pg_catalog."default",
    avatar_image text COLLATE pg_catalog."default",
    cover_images text[] COLLATE pg_catalog."default",
    company text COLLATE pg_catalog."default",
    CONSTRAINT app_pkey PRIMARY KEY (id)
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.app
    OWNER to supabase_admin;

ALTER TABLE IF EXISTS public.app
    ENABLE ROW LEVEL SECURITY;

GRANT ALL ON TABLE public.app TO anon;

GRANT ALL ON TABLE public.app TO authenticated;

GRANT ALL ON TABLE public.app TO postgres;

GRANT ALL ON TABLE public.app TO service_role;

GRANT ALL ON TABLE public.app TO supabase_admin;

 END;