@import '@fuoco.appdev/web-components/dist/cjs/styles.scss';

.root {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    & .items-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        & .loading-ring {
            width: 100%;
            transition: max-height 150ms $transition-standard-easing;
        }
        
        & .wine-previews-container {

        }

        & .no-liked-products-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;
    
            & .no-items-text {
                margin-top: $mp-4;
                color: $brand-900;
                font-size: $font-size-sm;
                text-align: center;
            }
        
            & .no-items-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-top: $mp-8;
                margin-bottom: $mp-4;
            }
        }
    }
}

.root-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .items-container-desktop {
        gap: $mp-4;
        padding: $mp-6;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        & .loading-ring-tablet {

        }

        & .wine-previews-container-tablet {

        }
    }
}

.root-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .items-container-tablet {
        gap: $mp-4;
        padding: $mp-4;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        & .loading-ring-tablet {

        }

        & .wine-previews-container-tablet {

        }
    }
}

.root-mobile {
    & .items-container-mobile {
        gap: 2px;

        & .loading-ring-mobile {

        }

        & .wine-previews-container-mobile {

        }
    }
}

.modal-overlay {
    z-index: 24;
    background-color: rgba(42, 42, 95, .15);
}

.modal-desktop {
    max-height: 95vh;
    min-width: 500px;
    overflow-y: auto;
    overscroll-behavior: none;
}

.modal-text-desktop {
    padding: $mp-8 !important;
}

.modal-tablet {
    max-height: 95vh;
    min-width: 500px;
    overflow-y: auto;
    overscroll-behavior: none;
}

.modal-text-tablet {
    padding: $mp-6 !important;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-footer-button-container-tablet {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-tablet {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.outline-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}

.add-variants-container {
    display: flex;
    flex-direction: column;
}

.add-to-cart-button-container-mobile {
    padding: $mp-4;
}

.add-to-cart-button {
    background-color: $brand-700;
}

.add-to-cart-button:hover {
    background-color: $brand-700;
}