@import '@fuoco.appdev/web-components/dist/cjs/styles.scss';

.root {
    width: 100%;
    min-width: 100%;

    & .title {
        color: $brand-900;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
    }

    & .result-items-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        & .loading-ring {
            width: 100%;
            transition: max-height 150ms $transition-standard-easing;
        }

        & .no-items-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;

            & .no-items-text {
                margin-top: $mp-4;
                color: $brand-900;
                font-size: $font-size-sm;
                text-align: center;
            }
        }
    }
}

.root-desktop {
    height: 100%;
    min-height: 100%;
    padding-top: 2px;

    & .title-desktop {
        padding: $mp-4 $mp-6;
    }
}

.root-tablet {
    height: 100%;
    min-height: 100%;
    padding-top: 2px;

    & .title-tablet {
        padding: $mp-4 $mp-6;
    }
}

.root-mobile {
    height: 100%;
    min-height: 100%;
    padding-top: 2px;

    & .title-mobile {
        padding: $mp-4;
    }
}