@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.horizontal-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: $mp-2;
}

.completed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    & .completed-details-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        color: $brand-900;

        & .completed-details {
            margin-left: $mp-2;

            & .completed-details-text {
                line-height: 24px;
                color: $brand-900;
                font-size: $font-size-sm;
            }

            & .address-text {
                text-transform: capitalize;
            }
        }
    }

    & .edit-button-container {

    }
}

.horizontal-input-container-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: $mp-2;
}

.completed-container-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    & .completed-details-container-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        color: $brand-900;

        & .completed-details-desktop {
            margin-left: $mp-2;

            & .completed-details-text-desktop {
                line-height: 24px;
                color: $brand-900;
                font-size: $font-size-sm;
            }

            & .address-text-desktop {
                text-transform: capitalize;
            }
        }
    }

    & .edit-button-container-desktop {

    }
}

.horizontal-input-container-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: $mp-2;
}

.completed-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    & .completed-details-container-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        color: $brand-900;

        & .completed-details-mobile {
            margin-left: $mp-2;

            & .completed-details-text-mobile {
                line-height: 24px;
                color: $brand-900;
                font-size: $font-size-sm;
            }

            & .address-text-mobile {
                text-transform: capitalize;
            }
        }
    }

    & .edit-button-container-mobile {

    }
}

.edit-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}

.input-root-skeleton {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: $mp-2;
}

.input-form-layout-label-skeleton {
    margin-bottom: $mp-2;
}

.input-root {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.input-form-layout-label {
    color: $brand-900 !important;
}
  
.input {
    color: $brand-900 !important;
}
  
.input-container {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}
  
.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}

.country-flag-mobile {
    margin-right: $mp-2;
}

.option-name {
    color: $brand-900 !important;
    font-size: $font-size-sm;
}