@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $mp-4;

    & .image {
        width: 230px;
        height: 230px;
    }

    & .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $mp-2;

        & .title {
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            color: $brand-900;
        }

        & .description {
            font-size: $font-size-base;
            color: $brand-900;
        }
    }
}

.root-desktop {
    & .image-desktop {
   
    }
}

.root-tablet {
    & .image-desktop {
       
    }
}

.root-mobile {
    padding: $mp-4;
    
    & .image-mobile {

    }
}

.button-container {
    margin-bottom: $mp-4;
}

.button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}