@import '@fuoco.appdev/web-components/dist/cjs/styles.scss';

.container {
    padding: $mp-2 0;

    & .details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: $mp-1;

        & .thumbnail {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            height: 56px;
            width: 56px;
            background-color: $gray-100;
            margin-right: $mp-4;

            & .thumbnail-image {
                padding: $mp-1 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                color: $brand-900;
            }
        }

        & .title-container {
            & .title {
                color: $brand-900;
                font-size: $font-size-base;
                font-weight: $font-weight-bold;
                margin-bottom: $mp-1;
            }

            & .variant {
                color: $brand-900;
                font-size: $font-size-sm;
            }
        }

        & .quantity-details-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            -webkit-box-pack: right;
                -ms-flex-pack: right;
                    justify-content: right;
            margin-right: $mp-2;

            & .quantity-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;

                & .quantity-text {
                    color: $brand-900;
                    font-size: $font-size-xs;
                }

                & .quantity-buttons {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
    
                    & .quantity {
                        margin-left: $mp-2;
                        margin-right: $mp-2;
                        color: $brand-900;
                        font-size: $font-size-sm;
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }

    & .input-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        & .reason-container {
            margin-top: $mp-2;
        }
    
        & .note-container {
            margin-top: $mp-2;
        }
    }
}

.container-desktop {
    & .details-desktop {
        & .thumbnail-desktop {
            & .thumbnail-image-desktop {

            }
        }

        & .title-container-desktop {
            & .title-desktop {

            }

            & .variant-desktop {

            }
        }

        & .quantity-details-container-desktop {
            & .quantity-container-desktop {
                & .quantity-text-desktop {
                }

                & .quantity-buttons-desktop {
                    & .quantity-button-desktop {
    
                    }
    
                    & .quantity-desktop {
                    }
                }
            }
        }
    }

    & .input-container-desktop {
        & .reason-container-desktop {
        }
    
        & .note-container-desktop {
        }
    }
}

.container-tablet {
    & .details-tablet {
        & .thumbnail-tablet {
            & .thumbnail-image-tablet {

            }
        }

        & .title-container-tablet {
            & .title-tablet {

            }

            & .variant-tablet {

            }
        }

        & .quantity-details-container-tablet {
            & .quantity-container-tablet {
                & .quantity-text-tablet {
                }

                & .quantity-buttons-tablet {
                    & .quantity-button-tablet {
    
                    }
    
                    & .quantity-tablet {
                    }
                }
            }
        }
    }

    & .input-container-tablet {
        & .reason-container-tablet {
        }
    
        & .note-container-tablet {
        }
    }
}

.container-mobile {
    & .details-mobile {
        & .thumbnail-mobile {
            & .thumbnail-image-mobile {

            }
        }

        & .title-container-mobile {
            & .title-mobile {

            }

            & .variant-mobile {

            }
        }

        & .quantity-details-container-mobile {
            & .quantity-container-mobile {
                & .quantity-text-mobile {
                }

                & .quantity-buttons-mobile {
                    & .quantity-button-mobile {
    
                    }
    
                    & .quantity-mobile {
                    }
                }
            }
        }
    }

    & .input-container-mobile {
        & .reason-container-mobile {
        }
    
        & .note-container-mobile {
        }
    }
}

.quantity-button {
    padding: $mp-1 !important;
    color: $brand-900 !important;
}

.quantity-button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.input-form-layout-label {
    color: $brand-900 !important;
}
  
.input {
    color: $brand-900 !important;
}
  
.input-container {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}
  
.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}