@import '@fuoco.appdev/web-components/dist/esm/styles.scss';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  // Mobile
  @media screen and (max-width: 767px) {
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: 0px;
      scrollbar-color: $gray-200 !important;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 0px;
    }

    *::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
    }

    *::-webkit-scrollbar-thumb {
      background-color: $gray-100;
      border-radius: $rounded-full;
      border: 0px solid transparent;
    }
  }

  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: $mp-2;
      scrollbar-color: $gray-200 !important;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: $mp-2 !important;
    }

    *::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0) !important;
    }

    *::-webkit-scrollbar-thumb {
      background-color: $gray-100 !important;
      border-radius: $rounded-full !important;
      border: $mp-2 solid transparent !important;
    }
  }

  // Desktop
  @media screen and (min-width: 992px) {
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: $mp-2;
      scrollbar-color: $gray-200 !important;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: $mp-2 !important;
    }

    *::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0) !important;
    }

    *::-webkit-scrollbar-thumb {
      background-color: $gray-100 !important;
      border-radius: $rounded-full !important;
      border: $mp-2 solid transparent !important;
    }
  }
}

html, body { 
  position: fixed;
  overflow: overlay;
  -webkit-overflow-scrolling: touch;
   height: 100%; 
   overflow-x: hidden;
}


body {
  --gray-100: #F9F9F9;
  --brand-100: #FCF5E3;
  --brand-200: #F7C0BB;
  --brand-300: #F38B93;
  --brand-400: #EE566A;
  --brand-500: #E92142;
  --brand-600: #B7245E;
  --brand-700: #85267A;
  --brand-800: #58286D;
  --brand-900: #2A2A5F;

  --rounded-sm:2px;
  --rounded-base: 3px;
  --rounded-md: 5px;
  --rounded-lg: 8px;
  --rounded-xl: 13px;
  --rounded-full: 9999px;

  --font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --font-size-xs: 0.75rem /* 12px */;
  --font-size-sm: 0.875rem /* 14px */;
  --font-size-base: 1rem;
  --font-size-lg: 1.125 /* 24px */;

  --font-line-height-xs: 1rem /* 16px */;
  --font-line-height-sm: 1.25rem /* 20px */;
  --font-line-height-base: 1.5rem;
  --font-line-height-lg: 1.75rem /* 28px */;

  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-5: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-6: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --transition-standard-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-decelerated-easing: cubic-bezier(0, 0, 0.2, 1);
  --transition-accelerated-easing: cubic-bezier(0.4, 0, 1, 1);

  --duration-expand-sm: 100ms;
  --duration-collapse-sm: 100ms;
  --duration-expand-md: 250ms;
  --duration-collapse-md: 200ms;
  --duration-expand-lg: 300ms;
  --duration-collapse-lg: 250ms;
  --duration-small: 100ms;

  --mp-1: 2px;
  --mp-2: 3px;
  --mp-3: 5px;
  --mp-4: 8px;
  --mp-5: 13px;
  --mp-6: 21px;
  --mp-7: 34px;
  --mp-8: 55px;
  --mp-9: 90px;
  --mp-10: 145px;

  margin: 0;
  font-family: $font-family;

  & #root {
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
  }
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

.slick-slide img {
  object-fit: cover;
}

.slick-dots {
  bottom: $mp-4;
}

.slick-prev {
  left: $mp-4;
  z-index: 1;
}

.slick-next {
  right: $mp-4;
  z-index: 1;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dots li button:before {
  color: #fff;
}
