@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    width: 100%;
    min-width: 100%;

    & .side-bar-container {
        display: flex;
        flex-direction: column;
        gap: $mp-4;
    }

    & .filter-title {
        color: $brand-900;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        text-transform: capitalize;
    }

    & .scroll-container {
        width: 100%;
    }

    & .title {
        color: $brand-900;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
    }

    & .follower-request-items-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(42, 42, 95, .6);
        padding-bottom: $mp-4;
    }

    & .result-items-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scroll-behavior: smooth;
        overscroll-behavior: none;

        & .loading-ring {
            width: 100%;
            transition: max-height 150ms $transition-standard-easing;
        }

        & .no-items-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;

            & .no-items-text {
                margin-top: $mp-4;
                color: $brand-900;
                font-size: $font-size-sm;
                text-align: center;
            }
        }
    }
}

.search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border-color: transparent !important;

    & .search-input-root {
        display: flex;
        flex-direction: column;
        flex: 1;

        & .search-input-container {
            background-color: transparent;
            border-color: $brand-900;
            border-radius: $rounded-full;
        }

        & .search-input-container-skeleton {
            margin-bottom: $mp-4;
        }

        & .search-input {
            color: $brand-900;
        }

        & .search-input::-webkit-input-placeholder {
            color: $brand-900;
        }

        & .search-input::-moz-placeholder {
            color: $brand-900;
        }

        & .search-input:-ms-input-placeholder {
            color: $brand-900;
        }

        & .search-input::-ms-input-placeholder {
            color: $brand-900;
        }

        & .search-input::placeholder {
            color: $brand-900;
        }

        & .search-input:-ms-input-placeholder {
            color: $brand-900;
        }

        & .search-input::-ms-input-placeholder {
            color: $brand-900;
        }
    }
}

.root-desktop {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100%;

    & .side-bar-container-desktop {
        padding: 0 $mp-4;
        padding-top: calc(56px + 16px);
        min-width: 356px;
        border-right: 1px solid rgba(42, 42, 95, .6);
    }

    & .filter-title-desktop {
        height: 40px;
        line-height: 40px;
    }

    & .scroll-container-desktop {
        padding-top: calc(56px + 24px);

        & .title-desktop {
            padding: $mp-4 $mp-6;
        }
    }
}

.search-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .search-input-root-desktop {}
}

.root-tablet {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100%;

    & .side-bar-container-tablet {
        padding: 0 $mp-4;
        padding-top: calc(56px + 16px);
        min-width: 356px;
        border-right: 1px solid rgba(42, 42, 95, .6);
    }

    & .filter-title-tablet {
        height: 40px;
        line-height: 40px;
    }

    & .scroll-container-tablet {
        padding-top: calc(56px + 24px);

        & .title-tablet {
            padding: $mp-4 $mp-6;
        }
    }
}

.search-container-tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .search-input-root-tablet {}
}

.root-mobile {
    height: 100%;
    min-height: 100%;
    padding-top: $mp-4;

    & .search-container-mobile {
        padding-left: $mp-4;
        padding-right: $mp-4;
        gap: $mp-4;

        & .search-input-root-mobile {}
    }

    & .title-mobile {
        padding: 0 $mp-4;
    }
}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 0 $mp-4;
    gap: $mp-4;
}

.scroll-container-mobile {
    & .title-mobile {
        padding: $mp-4;
    }
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.input-root {}

.input-root-skeleton {
    margin-bottom: $mp-2;
}

.input-form-layout-label-skeleton {
    margin-bottom: $mp-2;
}

.input-form-layout-label {
    color: $brand-900 !important;
}

.input {
    color: $brand-900 !important;
}

.input-container {
    border-color: $brand-900 !important;
}

.input-phone-number-dropdown {
    z-index: 24;
}

.sex-options {
    display: flex;
    flex-direction: row;
    gap: $mp-2;
}

.button {
    border: 1px solid $brand-900;
    background-color: transparent !important;
    color: $brand-900;
}

.button-selected {
    background-color: rgba(133, 38, 122, 0.2) !important;
    border: 1px solid $brand-700;
    color: $brand-700;
}

.filter-button {
    background-color: $brand-700 !important;
}

.slider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(133, 38, 122, .35);
}

.dropdown-item-container {
    color: $brand-900 !important;
}

.dropdown-item-container:hover {
    background-color: transparent !important;
}

.dropdown-item-button {
    padding: $mp-2 $mp-4 !important;
    color: $brand-900 !important;
    width: 100%;
}

.place-name {
    color: $brand-900 !important;
}

:global(.-\30) {
    background-color: $brand-700 !important;
}

:global(.-\31) {
    background-color: $brand-700 !important;
    opacity: 0.35;
}