@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {

}

.root-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .top-bar-mobile {
    height: 56px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;

    & .tab-button-container {
      width: fit-content;
      padding-right: $mp-1;
    }

    & .left-tab-container {
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 0 $mp-2;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }

    & .right-tab-container {
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 0 $mp-2;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }
  }

  & .incomplete-profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 $mp-4;

    & .complete-profile-title {
      margin: $mp-4 0;
      font-size: 14pt;
      font-weight: $font-weight-bold;
      line-height: 42pt;
      color: $brand-900;
      border-bottom: 1px solid $brand-900;
    }
  
    & .form-container {
      padding: $mp-4 0;
      flex: 1;
    }
  }

  & .avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & .username {
    color: $brand-900;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
    width: 100%;
    text-align: center;
    margin-top: $mp-2;
  }
}

.submit-button-container {
  margin-top: $mp-4;
  margin-bottom: $mp-10;
}

.submit-button {
  background-color: $brand-700 !important;
}

.avatar-button {
  background-color: $brand-700 !important;
}

.avatar-overlay-background {
  background-color: #fff !important;
  backdrop-filter: none !important;
}

.tab-button {
  color: $brand-900 !important;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-sm !important;
}

.tab-outline {
  background-color: $brand-900 !important;
}