@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.horizontal-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: $mp-2;
}

.input-root {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.input-root-skeleton {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: $mp-2;
}

.input-form-layout-label-skeleton {
    margin-bottom: $mp-2;
}

.input-form-layout-label {
    color: $brand-900 !important;
}
  
.input {
    color: $brand-900 !important;
}
  
.input-container {
    border-color: $brand-900 !important;
}

.input-phone-number-dropdown {
    z-index: 24;
}

.sex-options {
    display: flex;
    flex-direction: row;
    gap: $mp-2;
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: $brand-900 !important;
}
  
.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}

.country-flag-tablet {
    margin-right: $mp-2;
}

.country-flag-mobile {
    margin-right: $mp-2;
}

.option-name {
    color: $brand-900 !important;
    font-size: $font-size-sm;
}

.button {
    border: 1px solid $brand-900;
    background-color: transparent !important;
    color: $brand-900;
}

.button-selected {
    background-color: rgba(133, 38, 122, 0.2) !important;
    border: 1px solid $brand-700;
    color: $brand-700;
}