@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {    
    min-width: 100%;
    min-height: 100%;

    & .addresses-text-container-skeleton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        & .addresses-text-skeleton {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }
    }
    
    & .addresses-text-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border-bottom: solid 1px $brand-900;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        & .addresses-text {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            color: $brand-900;
            font-weight: $font-weight-bold;
            line-height: 46px;
            font-size: $font-size-lg;
        }

        & .addresses-add-button-container {

        }
    }

    & .address-list-container {
        & .no-addresses-text {
            color: $brand-900;
            font-size: $font-size-sm;
            text-align: center;
            margin: $mp-10;
        }
    }
}

.root-desktop {  
    & .addresses-text-container-skeleton-desktop {
        margin: 0 $mp-6;
        margin-top: $mp-4;
        margin-bottom: $mp-2;
    }

    & .addresses-text-container-desktop {
        margin-bottom: $mp-2;

        & .addresses-text-desktop {
            padding: 0 $mp-6;
        }

        & .addresses-add-button-container-desktop {
            padding: 0 $mp-6;
        }
    }

    & .address-list-container-desktop {
        & .no-addresses-text-desktop {
        }
    }
}

.root-tablet { 
    & .addresses-text-container-skeleton-tablet {
        margin: 0 $mp-6;
        margin-top: $mp-4;
        margin-bottom: $mp-2;
    }

    & .addresses-text-container-tablet {
        margin-bottom: $mp-2;

        & .addresses-text-tablet {
            padding: 0 $mp-6;
        }

        & .addresses-add-button-container-tablet {
            padding: 0 $mp-6;
        }
    }

    & .address-list-container-tablet {
        & .no-addresses-text-tablet {
        }
    }
}

.root-mobile { 
    & .addresses-text-container-skeleton-mobile {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;
    }

    & .addresses-text-container-mobile {
        margin-bottom: $mp-2;
        
        & .addresses-text-mobile {
            padding: 0 $mp-4;
        }

        & .addresses-add-button-container-mobile {
            padding: 0 $mp-4;
        }
    }

    & .address-list-container-mobile {
        & .no-addresses-text-mobile {
        }
    }
}

.button {
    color: $brand-900 !important;
}
  
.button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.modal-overlay {
    z-index: 24;
    background-color: rgba(42, 42, 95, .15);
}

.modal {
    max-height: 95vh;
    overflow-y: auto;
}

.modal-desktop {
    padding: $mp-8;
}

.modal-text-desktop {
    padding: 0 !important;
    padding-bottom: $mp-6 !important;
    max-width: 500px;
}

.modal-tablet {
    padding: $mp-6;
}

.modal-text-tablet {
    padding: 0 !important;
    padding-bottom: $mp-6 !important;
    max-width: 500px;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-footer-button-container-tablet {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-tablet {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.add-address-container {
    & .add-address-button-container {
        width: 100%;
        padding-top: $mp-4;

        & .add-address-button {
            background-color: $brand-700;
        }
    }
}

.add-address-container-desktop {
    height: 100%;
    overflow-y: auto;

    & .add-address-button-container-desktop {
        & .add-address-button-desktop {
        }
    }
}

.add-address-container-tablet {
    height: 100%;
    overflow-y: auto;

    & .add-address-button-container-tablet {
        & .add-address-button-tablet {
        }
    }
}

.add-address-container-mobile {
    padding: $mp-4;

    & .add-address-button-container-mobile {
        & .add-address-button-mobile {
        }
    }
}

.edit-address-container {
    & .edit-address-button-container {
        width: 100%;
        padding-top: $mp-4;

        & .edit-address-button {
            background-color: $brand-700;
        }
    }
}

.edit-address-container-desktop {
    height: 100%;
    overflow-y: auto;

    & .edit-address-button-container-desktop {
        & .edit-address-button-desktop {
        }
    }
}

.edit-address-container-tablet {
    height: 100%;
    overflow-y: auto;

    & .edit-address-button-container-tablet {
        & .edit-address-button-tablet {
        }
    }
}

.edit-address-container-mobile {
    padding: $mp-4;

    & .edit-address-button-container-mobile {
        & .edit-address-button-mobile {
        }
    }
}