@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    & .setting-button-container {
        width: 100%;
        height: 48px;

        & .setting-button-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 $mp-4;

            & .setting-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $brand-900;
                margin-right: $mp-4;
            }

            & .setting-text {
                color: $brand-900;
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                line-height: 48px;
            }
        }
    }

    & .bottom-content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        padding: 0 $mp-4;
    }
}

.root-desktop {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 56px;

    & .side-bar-desktop {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-right-width: 1px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
        padding: 0 $mp-4;
        min-height: 100%;
        width: 256px;
        min-width: 256px;
    }

    & .outlet-container-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    & .setting-button-container-desktop {
        & .setting-button-content-desktop {
            & .setting-icon-desktop {}

            & .setting-text-desktop {}
        }
    }

    & .bottom-content-container-desktop {}
}

.root-tablet {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 56px;

    & .side-bar-tablet {
        display: flex;
        flex-direction: column;
        border-right-width: 1px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
        padding: 0 $mp-4;
        min-height: 100%;
        width: 256px;
        min-width: 256px;
    }

    & .outlet-container-tablet {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    & .setting-button-container-tablet {
        & .setting-button-content-tablet {
            & .setting-icon-tablet {}

            & .setting-text-tablet {}
        }
    }

    & .bottom-content-container-tablet {}
}

.root-mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: $mp-4 0;

    & .setting-button-container-mobile {
        & .setting-button-content-mobile {
            & .setting-icon-mobile {}

            & .setting-text-mobile {}
        }
    }

    & .bottom-content-container-mobile {}
}

.logout-button-container {
    margin-bottom: $mp-4 !important;
}

.logout-button {
    background-color: $brand-700 !important;
}

.tab-outline {
    background-color: $brand-700 !important;
}

.tab-slider {
    background-color: rgba(133, 38, 122, .2) !important;
}

.tab-icon {
    color: $brand-900 !important;
}

.tab-button {
    color: $brand-900 !important;
    font-weight: $font-weight-bold;
}

.hovered-tab-icon {
    color: $brand-700 !important;
}

.hovered-tab-button {
    color: $brand-700 !important;
}