@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;

    & .order-history-text-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border-bottom: solid 1px $brand-900;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        & .order-history-text {
            color: $brand-900;
            font-weight: $font-weight-bold;
            line-height: 46px;
            font-size: $font-size-lg;
            padding: 0 $mp-4;
        }
    
        & .order-history-text-skeleton {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 46px;
            padding: 0 $mp-4;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }

    & .no-order-history-text {
        margin-top: $mp-10;
        color: $brand-900;
        font-size: $font-size-sm;
        text-align: center;
    }

    & .shop-button-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: $mp-8;
    }

    & .items-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        scroll-behavior: smooth;
        padding: 0 $mp-6;
        
        & .loading-ring {
            width: 100%;
            height: 24px;
        }
    }
}

.root-desktop {
    & .order-history-text-container-desktop {
        margin-bottom: $mp-2;

        & .order-history-text-desktop {
    
        }
    }

    & .no-order-history-text-desktop {
    }

    & .shop-button-container-desktop {
    }

    & .items-container-desktop {
        & .loading-ring-desktop {
        }
    }
}

.root-tablet {
    & .order-history-text-container-tablet {
        margin-bottom: $mp-2;

        & .order-history-text-tablet {
    
        }
    }

    & .no-order-history-text-tablet {
    }

    & .shop-button-container-tablet {
    }

    & .items-container-tablet {
        & .loading-ring-tablet {
        }
    }
}

.root-mobile {
    & .order-history-text-container-mobile {
        margin-bottom: $mp-2;

        & .order-history-text-mobile {
        }
    }

    & .no-order-history-text-mobile {
    }

    & .shop-button-container-mobile {
    }

    & .items-container-mobile {
        padding: $mp-4 0;
        
        & .loading-ring-mobile {
        }
    }
}

.shop-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}