@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 100%;

  & .top-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    min-height: 56px;
    width: 100%;
    align-items: center;
    background-color: #fff !important;
    border-radius: 6px;
    z-index: 2;

    & .top-bar-text-container {
      display: flex;
      flex-direction: row;

      & .top-bar-text {
        text-transform: capitalize;
        color: $brand-900;
        font-weight: $font-weight-bold;
        font-size: $font-size-lg;
        width: 100%;
        text-align: center;
      }

      & .top-bar-username {
        text-transform: lowercase;
      }
    }

    & .left-tab-container {
      min-width: 116px;
    }

    & .center-tab-container {}

    & .right-tab-container {
      min-width: 116px;
    }
  }

  & .scroll-content-skeleton {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  & .scroll-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  & .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;

    & .status-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & .avatar-content {
        display: flex;
        flex-direction: column;

        & .avatar-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }

    & .username {
      color: $brand-900;
      font-weight: $font-weight-bold;
      font-size: $font-size-lg;
      margin: $mp-2 0;
    }

    & .followers-status-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & .followers-status-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        gap: $mp-2;

        & .followers-status-value {
          color: $brand-900;
          font-weight: $font-weight-bold;
          font-size: $font-size-sm;
        }

        & .followers-status-name {
          color: $brand-900;
          font-size: $font-size-sm;
        }
      }

      & .followers-status-item:hover {
        & .followers-status-value {
          color: $brand-700;
          cursor: pointer;
        }

        & .followers-status-name {
          color: $brand-700;
          cursor: pointer;
        }
      }
    }
  }

  & .incomplete-form-container {
    display: flex;

    & .incomplete-form-title {
      text-transform: capitalize;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      line-height: 42pt;
      color: $brand-900;
      border-bottom: 1px solid $brand-900;
    }

    & .form-container {
      padding: $mp-4 0;
      flex: 1;

      & .selected-interests-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $mp-2;
        width: 100%;
      }
    }
  }

  & .tabs-container {
    padding: 0 $mp-4;
  }

  & .tabs-container-skeleton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: $mp-2;
    padding: 0 $mp-4;
  }

  & .outlet-container {
    height: 100%;
  }
}

.search-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-color: transparent !important;
  padding: 0 $mp-4;

  & .search-input-root {
    display: flex;
    flex-direction: column;
    flex: 1;

    & .search-input-container {
      border-color: transparent !important;
      background-color: rgba(42, 42, 95, .05);
      border-radius: $rounded-full;
    }

    & .search-input-container-skeleton {
      margin-bottom: $mp-4;
    }

    & .search-input {
      color: $brand-900;
    }

    & .search-input::-webkit-input-placeholder {
      color: $brand-900;
    }

    & .search-input::-moz-placeholder {
      color: $brand-900;
    }

    & .search-input:-ms-input-placeholder {
      color: $brand-900;
    }

    & .search-input::-ms-input-placeholder {
      color: $brand-900;
    }

    & .search-input::placeholder {
      color: $brand-900;
    }

    & .search-input:-ms-input-placeholder {
      color: $brand-900;
    }

    & .search-input::-ms-input-placeholder {
      color: $brand-900;
    }
  }
}

.root-desktop {
  height: 100%;
  min-height: 100%;

  & .top-bar-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $mp-4;
    margin-bottom: $mp-4;

    & .left-tab-container-desktop {
      padding: 0 $mp-4;
    }

    & .center-tab-container-desktop {}

    & .right-tab-container-desktop {
      padding: 0 $mp-2;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      -ms-grid-column: 2;
      grid-column-start: 2;
      -ms-grid-column-span: 1;
      grid-column-end: 3;
      gap: $mp-2;
    }
  }

  & .scroll-content-skeleton-desktop {
    padding-top: calc(56px + 2px);
  }

  & .scroll-content-desktop {
    padding-top: calc(56px + 2px);
  }

  & .top-content-desktop {
    & .status-container-desktop {
      padding-top: $mp-4;
      gap: $mp-10;

      & .avatar-content-desktop {
        & .avatar-container-desktop {}
      }
    }

    & .username-desktop {}

    & .followers-status-container-desktop {
      gap: $mp-6;
    }

    & .skeleton-user-desktop {}
  }

  & .incomplete-form-container-desktop {
    flex-direction: row;
    gap: $mp-6;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: $mp-6;

    & .incomplete-content-desktop {
      height: fit-content;
      width: 500px;
      background-color: #fff;
      border-radius: 6px;
      padding: $mp-6;
    }

    & .incomplete-form-title-desktop {
      margin: $mp-4 0;
    }

    & .form-container-desktop {}
  }

  & .content-desktop {
    display: flex;
    justify-content: center;
    padding: $mp-6 0;
    height: 100%;
    width: 100%;
    gap: $mp-6;

    & .card-container-desktop {
      width: 500px;
      border: 1px solid rgba(42, 42, 95, .6);
      border-radius: 6px;
    }

    & .left-card-container-desktop {
      height: 65vh;
    }

    & .left-content-desktop {
      display: flex;
      flex-direction: column;
      gap: $mp-6;
    }

    & .right-content-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: $mp-6;
    }
  }

  & .tabs-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & .tabs-container-skeleton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    gap: $mp-2;
    padding: 0 $mp-4;
  }

  & .outlet-container-desktop {}

  & .submit-button-container-desktop {
    margin-bottom: $mp-4;
  }
}

.search-container-desktop {}

.root-tablet {
  height: 100%;
  min-height: 100%;

  & .top-bar-tablet {
    padding: 0 $mp-4;
    margin-bottom: $mp-4;

    & .left-tab-container-tablet {
      padding: 0 $mp-4;
    }

    & .center-tab-container-tablet {}

    & .right-tab-container-tablet {
      padding: 0 $mp-2;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      gap: $mp-2;
    }
  }

  & .scroll-content-skeleton-tablet {
    padding-top: calc(56px + 16px);
  }

  & .scroll-content-tablet {
    padding-top: calc(56px + 16px);
  }

  & .top-content-tablet {
    & .status-container-tablet {
      gap: $mp-10;

      & .avatar-content-tablet {
        & .avatar-container-tablet {}
      }
    }

    & .username-tablet {}

    & .followers-status-container-tablet {
      gap: $mp-6;
    }
  }

  & .incomplete-form-container-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    & .incomplete-content-tablet {
      height: fit-content;
      width: 500px;
    }

    & .complete-form-title-tablet {}

    & .form-container-tablet {}
  }

  & .content-tablet {
    display: flex;
    justify-content: center;
    padding: $mp-6 0;
    height: 100%;
    width: 100%;
    gap: $mp-6;

    & .card-container-tablet {
      width: 500px;
      border: 1px solid rgba(42, 42, 95, .6);
      border-radius: 6px;
    }

    & .left-card-container-tablet {
      height: 65vh;
    }

    & .left-content-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: $mp-6;
    }

    & .right-content-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: $mp-6;
    }
  }

  & .skeleton-user-tablet {}

  & .tabs-container-tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & .tabs-container-skeleton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $mp-2;
    padding: 0 $mp-4;
  }

  & .outlet-container-tablet {}

  & .submit-button-container-tablet {
    margin-bottom: $mp-6;
  }
}

.root-mobile {

  & .top-bar-mobile {
    & .left-tab-container-mobile {
      padding: 0 $mp-4;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }

    & .right-tab-container-mobile {
      padding: 0 $mp-2;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }
  }

  & .scroll-content-skeleton-mobile {
    padding-top: calc(56px + 2px);
  }

  & .scroll-content-mobile {
    
  }

    & .incomplete-form-container-mobile {
      flex-direction: column;
      gap: 2px;

      & .incomplete-content-mobile {
        height: fit-content;
        background-color: #fff;
        border-radius: 6px;
        padding: $mp-4;
      }

      & .complete-form-title-mobile {}

      & .form-container-mobile {}
    }

    & .top-content-mobile {
      justify-content: space-between;
      padding-top: $mp-4;

      & .status-container-mobile {
        & .avatar-content-mobile {
          & .avatar-container-mobile {}
        }
      }

      & .username-mobile {}

      & .followers-status-container-mobile {
        gap: $mp-6;
        padding: 0 $mp-6;
        width: 100%;
      }

    & .skeleton-user-mobile {}

    & .tabs-container-mobile {
      width: 100%;
    }

    & .outlet-container-mobile {}

    & .submit-button-container-mobile {
      margin-bottom: $mp-10;
    }
  }
}

.scroll-root {

}

.scroll-root-tablet {
    
}

.scroll-container-mobile {
  padding-top: calc(56px + 2px);
}

.pull-indicator-container {

}

.pull-indicator {
  color: $brand-900;
}

.pull-indicator-mobile {
}

.scroll-content-mobile {

}

.scroll-load-container {
    padding: $mp-4;
}

.tab-nav {
  padding: 0;
}

.tab-nav-desktop {
  min-width: 500px;
}

.tab-nav-tablet {
  min-width: 500px;
}

.tab-button-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: $mp-1;
}

.submit-button-container {
  margin-top: $mp-4;
}

.submit-button {
  background-color: $brand-700 !important;
}

.avatar-button {
  background-color: $brand-700 !important;
  width: auto !important;
}

.avatar-overlay-background {
  background-color: #fff !important;
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}

.avatar-top-bar {
  background-color: #fff !important;
}

.avatar-top-bar-title {
  color: $brand-900 !important;
}

.avatar-close-button {
  color: $brand-900 !important;
}

.avatar-save-button {
  color: #fff !important;
  background-color: $brand-700 !important;
}

.button {
  color: $brand-900 !important;
}

.button:hover {
  background-color: rgba(42, 42, 95, .15) !important;
}

.secondary-button {
  border: 1px solid $brand-900;
  background-color: transparent !important;
  color: $brand-900;
}

.interest-selected {
  border: 1px solid $brand-700;
  color: $brand-700;
}

.input-form-layout-label-skeleton {
  margin-bottom: $mp-2;
}

.input-form-layout-label {
  color: $brand-900 !important;
}

.tab-button {
  color: $brand-900 !important;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-sm !important;
  margin-right: 0 !important;
}

.tab-button-skeleton-tablet {
  width: calc(500px / 3);
}

.tab-button-skeleton-mobile {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-outline {
  background-color: $brand-900 !important;
  margin-left: 2px;
}

.right-to-left-enter {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.right-to-left-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 250ms $transition-standard-easing;
  -o-transition: all 250ms $transition-standard-easing;
  transition: all 250ms $transition-standard-easing;
}

.right-to-left-exit {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.right-to-left-exit-active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 250ms $transition-standard-easing;
  -o-transition: all 250ms $transition-standard-easing;
  transition: all 250ms $transition-standard-easing;
}

.left-to-right-enter {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.left-to-right-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 250ms $transition-standard-easing;
  -o-transition: all 250ms $transition-standard-easing;
  transition: all 250ms $transition-standard-easing;
}

.left-to-right-exit {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.left-to-right-exit-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 250ms $transition-standard-easing;
  -o-transition: all 250ms $transition-standard-easing;
  transition: all 250ms $transition-standard-easing;
}

.loading-ring {
  width: 24px;
  transition: max-height 150ms $transition-standard-easing;
}

.dropdown-touchscreen-overlay {
  background-color: rgba(42, 42, 95, .15) !important;
}

.dropdown-item-container-search:hover {
  background-color: transparent;
}

.dropdown-item-button-search {
  cursor: default;
}

.dropdown-item-button-search-desktop {
  padding: 0 !important;
  height: 62px;
}

.dropdown-item-button-search-tablet {
  padding: $mp-4 !important;
}

.dropdown-item-button-search-mobile {
  padding: 0 !important;
  height: 62px;
}

.dropdown-item-container-interests svg {
  color: $brand-900 !important;
}

.dropdown-item-container-interests:hover {
  background-color: transparent;
}

.dropdown-item-button-interests {
  padding: 0 $mp-4 !important;
  cursor: default;
  color: $brand-900 !important;
  width: 100%;
}

.dropdown-item-button-children-interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $mp-2;
  width: 100%;
}

.dropdown-item-container-loading {
  padding: 0 !important;
  width: 100% !important;
}

.dropdown-item-container-loading:hover {
  background-color: transparent;
}

.dropdown-item-button-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}