@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    min-width: 100%;
    min-height: 100%;

    & .edit-text-container-skeleton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 46px;

        & .edit-text-skeleton {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }
    }

    & .edit-text-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border-bottom: solid 1px $brand-900;

        & .edit-text {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            color: $brand-900;
            font-weight: $font-weight-bold;
            line-height: 46px;
            font-size: $font-size-lg;
        }
    }

    & .profile-form-container {
        
    }

    & .save-button-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}

.root-desktop {
    & .edit-text-container-skeleton-desktop {
        margin: 0 $mp-6;
        margin-top: $mp-6;
        margin-bottom: $mp-2;

        & .edit-text-skeleton-desktop {

        }
    }

    & .edit-text-container-desktop {
        margin: 0 $mp-6;
        margin-top: $mp-6;
        margin-bottom: $mp-2;

        & .edit-text-desktop {

        }
    }

    & .profile-form-container-desktop {
        padding: 0 $mp-6;
        padding-top: $mp-6;
    }

    & .save-button-container-desktop {
        padding: $mp-6;
    }
}

.root-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $mp-6;

    & .edit-text-container-skeleton-tablet {
        width: 100%;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .edit-text-skeleton-tablet {
        }
    }

    & .edit-text-container-tablet {
        width: 100%;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .edit-text-tablet {
        }
    }

    & .profile-form-container-tablet {
        padding: $mp-4;
        min-width: 500px;
    }

    & .save-button-container-tablet {
        padding: 0 $mp-4;
        margin-bottom: $mp-10;
        min-width: 500px;
    }
}

.root-mobile {
    & .edit-text-container-skeleton-mobile {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .edit-text-skeleton-mobile {
        }
    }

    & .edit-text-container-mobile {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .edit-text-mobile {
        }
    }

    & .profile-form-container-mobile {
        padding: $mp-4;
    }

    & .save-button-container-mobile {
        padding: 0 $mp-4;
        margin-bottom: $mp-10;
    }
}

.save-button {
    background-color: $brand-700 !important;
}