@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    flex-direction: column;
    padding: $mp-4 0;
    height: 100%;
    width: 100%;

    & .setting-button-container {
        width: 100%;
        height: 48px;

        & .setting-button-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 $mp-4;

            & .setting-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $brand-900;
                margin-right: $mp-4;
            }

            & .setting-text {
                color: $brand-900;
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                line-height: 48px;
            }
        }
    }

    & .bottom-content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        padding: 0 $mp-4;
    }
}

.logout-button {
    background-color: $brand-700 !important;
}