@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    min-height: 100%;

    & .edit-text-container-skeleton {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 46px;

        & .edit-text-skeleton {
            flex: 1;
        }
    }

    & .edit-text-container {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px $brand-900;

        & .edit-text {
            flex: 1;
            color: $brand-900;
            font-weight: $font-weight-bold;
            line-height: 46px;
            font-size: $font-size-lg;
        }
    }

    & .profile-form-container {
        
    }

    & .save-button-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
    }
}

.root-desktop {
    & .edit-text-container-skeleton-desktop {
        margin: 0 $mp-6;
        margin-top: $mp-6;
        margin-bottom: $mp-2;

        & .edit-text-skeleton-desktop {

        }
    }

    & .edit-text-container-desktop {
        margin: 0 $mp-6;
        margin-top: $mp-6;
        margin-bottom: $mp-2;

        & .edit-text-desktop {

        }
    }

    & .profile-form-container-desktop {
        padding: 0 $mp-6;
        padding-top: $mp-6;
    }

    & .save-button-container-desktop {
        padding: $mp-6;
    }
}

.root-mobile {
    & .edit-text-container-skeleton-mobile {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .edit-text-skeleton-mobile {
        }
    }

    & .edit-text-container-mobile {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .edit-text-mobile {
        }
    }

    & .profile-form-container-mobile {
        padding: $mp-4;
    }

    & .save-button-container-mobile {
        padding: 0 $mp-4;
        margin-bottom: $mp-10;
    }
}

.save-button {
    background-color: $brand-700 !important;
}