@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    & .addresses-text {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;
        color: $brand-900;
        font-weight: $font-weight-bold;
        line-height: 42px;
        font-size: $font-size-lg;
        border-bottom: solid 1px $brand-900;
    }
}