@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {    
    min-width: 100%;
    min-height: 100%;
    
    & .addresses-text-container {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px $brand-900;

        & .addresses-text {
            flex: 1;
            color: $brand-900;
            font-weight: $font-weight-bold;
            line-height: 46px;
            font-size: $font-size-lg;
        }
    }

    & .address-list-container {
        & .no-addresses-text {
            color: $brand-900;
            font-size: $font-size-sm;
            text-align: center;
            margin: $mp-10;
        }
    }

    & .add-address-container {
        & .add-address-button-container {
            width: 100%;
            padding-top: $mp-4;

            & .add-address-button {
                background-color: $brand-700;
            }
        }
    }

    & .edit-address-container {
        & .edit-address-button-container {
            width: 100%;
            padding-top: $mp-4;

            & .edit-address-button {
                background-color: $brand-700;
            }
        }
    }
}

.root-desktop {  
    padding: $mp-6 0;

    & .addresses-text-container-desktop {
        margin: 0 $mp-6;
        margin-bottom: $mp-2;

        & .addresses-text-desktop {
        }
    }

    & .address-list-container-desktop {
        & .no-addresses-text-desktop {
        }
    }

    & .add-address-container-desktop {
        padding: $mp-6;
        height: 100%;
        overflow-y: auto;

        & .add-address-button-container-desktop {
            & .add-address-button-desktop {
            }
        }
    }

    & .edit-address-container-desktop {
        padding: $mp-6;
        height: 100%;
        overflow-y: auto;

        & .edit-address-button-container-desktop {
            & .edit-address-button-desktop {
            }
        }
    }
}

.root-mobile {        
    & .addresses-text-container-mobile {
        margin: 0 $mp-4;
        margin-top: $mp-4;
        margin-bottom: $mp-2;

        & .addresses-text-mobile {
        }
    }

    & .address-list-container-mobile {
        & .no-addresses-text-mobile {
        }
    }

    & .add-address-container-mobile {
        padding: $mp-4;

        & .add-address-button-container-mobile {
            & .add-address-button-mobile {
            }
        }
    }

    & .edit-address-container-mobile {
        padding: $mp-4;

        & .edit-address-button-container-mobile {
            & .edit-address-button-mobile {
            }
        }
    }
}

.button {
    color: $brand-900 !important;
}
  
.button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.modal-overlay {
    z-index: 24;
}

.modal-text-desktop {
    padding: $mp-6 !important;
    max-width: 30vw;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}