@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  & .animated-content-desktop {
    display: grid;
    padding-top: 8vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    grid-template-columns: 16fr 1408fr 16fr;

    & .content-desktop {
      grid-column-start: 2;
      grid-column-end: 3;

      & .header-bar-desktop {
        & .apps-title-desktop {
        }

        & .header-button-container-desktop {
        }
      }

      & .apps-container-desktop {
        & .empty-list-container-desktop {
          height: 60vh;
        }
      }
    }
  }
}

.root-mobile {
  & .animated-content-mobile {
    & .content-mobile {
      padding: 0 $mp-4;
      padding-top: calc(56px + 16px);
      padding-bottom: calc(56px + 16px);

      & .header-bar-mobile {
        & .apps-title-mobile {
          font-size: 20pt;
        }

        & .header-button-container-mobile {
        }
      }

      & .apps-container-mobile {
        & .empty-list-container-mobile {
          height: 60vh;
        }
      }
    }
  }
}

.root {
  overflow: visible;

  & .animated-content {
    & .content {
      display: flex;
      flex-direction: column;

      & .header-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        & .apps-title {
        }

        & .header-button-container {
          display: flex;
          height: fit-content;
          flex-direction: row;

          & .header-button {
            margin-right: 16px;

            & .button-text {
              text-transform: capitalize;
            }
          }
        }
      }

      & .apps-container {
        display: flex;
        flex-wrap: wrap;
        gap: $mp-4;

        & .empty-list-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;

          & .empty-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;

            & .empty-icon {
              margin-bottom: $mp-2;
            }

            & .empty-title {
              font-size: $font-size-base;
              margin-bottom: $mp-2;
            }
          }
        }
      }
    }
  }
}
