@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    width: 100%;
    min-width: 100%;
    height: 100%;

    & .shopping-carts-container {
        & .top-bar-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 56px;
            gap: $mp-2;
            color: $brand-900;

            & .shopping-carts-title {
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
            }
        }
        
        & .shopping-cart-items-container {
            padding: $mp-4 0;
            overflow-y: auto;
        }
    }

    & .cart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    & .account-container {
        margin-top: 56px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;

        & .already-have-an-account-title {
            font-size: 14pt;
            font-weight: $font-weight-bold;
            color: $brand-900;
            margin-bottom: $mp-2;
        }

        & .already-have-an-account-description {
            font-size: $font-size-sm;
            color: $brand-900;
            margin-bottom: $mp-8;
        }

        & .sign-in-button-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-bottom: 56px;
        }
    }

    & .shopping-cart-container {
        & .shopping-cart-title-skeleton {
            margin-bottom: $mp-2;
        }

        & .shopping-cart-title {
            font-size: $font-size-lg;
            line-height: 46px;
            font-weight: $font-weight-bold;
            color: $brand-900;
            margin-bottom: $mp-2;
            border-bottom: solid $brand-900 1px;
        }

        & .shopping-cart-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            & .tabs-container-skeleton {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                gap: $mp-2;
            }

            & .tab-container {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                overflow-x: auto;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
        
            & .tab-container::-webkit-scrollbar {
                display: none;
            }
        }

        & .no-items-text {
            margin-top: $mp-4;
            color: $brand-900;
            font-size: $font-size-sm;
            text-align: center;
        }
    
        & .no-items-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-top: $mp-8;
            margin-bottom: $mp-4;
        }
    }

    & .pricing-container {
        & .subtotal-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: $mp-4;

            & .subtotal-text {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                color: $brand-900;
            }
        }

        & .total-detail-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: $mp-2;

            & .total-detail-text {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                font-size: $font-size-sm;
                color: $brand-900;
            }
        }

        & .total-container-skeleton {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-top: $mp-4;
            margin-bottom: $mp-4;
            padding-top: $mp-2; 
        }

        & .total-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-top: $mp-4;
            margin-bottom: $mp-4;
            padding-top: $mp-2;
            border-top: solid $brand-900 1px;
        }

        & .total-text {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            color: $brand-900;
        }
    }

    & .discount-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;

        & .discount-input-container {
            width: 100%;
        }

        & .apply-button-container-skeleton {
            margin-left: $mp-4;
            margin-bottom: $mp-2;
        }

        & .apply-button-container {
            margin-left: $mp-4;
            margin-bottom: $mp-4;
        }

        & .apply-button {
            background-color: transparent;
            border-color: $brand-900;
            color: $brand-900;
        }
    }

    & .discount-list-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: $mp-6;
        padding: 0 $mp-4;

        & .discount-code-tag {
            position: relative;
            border-radius: $rounded-full;
            padding: $mp-2 $mp-4;
            background-color: $brand-900;
            font-size: $font-size-xs;
            margin-right: $mp-1;
            margin-bottom: $mp-1;
            color: #fff;

            & .discount-code-tag-button-container {
                position: absolute;
                top: -4px;
                right: -8px;


                & .discount-code-tag-button {
                    padding: $mp-1;
                }
            }
        }
    }

    & .go-to-checkout-container {
        & .checkout-button {
            background-color: $brand-700;
        }
    }

    & .pay-button-container {
        padding: 0 $mp-4;
    }
}

.root-desktop {
    display: flex;
    flex-direction: row;
    height: 100%;

    & .shopping-carts-container-desktop {
        min-width: 320px;
        max-width: 320px;
        height: 100%;
        border-right-width: 1px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
    }

    & .cart-container-desktop {
        overflow-y: auto;
        padding: $mp-10;
    }

    & .content-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $mp-6;
        width: 556px;

        & .card-container-desktop {
            padding: $mp-6;
            min-width: 500px;
            border: 1px solid rgba(42, 42, 95, .6);
            border-radius: 6px;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }
    }

    & .account-container-desktop {
        & .already-have-an-account-title-desktop {

        }

        & .already-have-an-account-description-desktop {

        }

        & .sign-in-button-container-desktop {

        }
    }

    & .shopping-cart-container-desktop {
        & .shopping-cart-title-desktop {

        }

        & .shopping-cart-items-desktop {
            & .tab-container-desktop {

            }
        }
    }

    & .pricing-container-desktop {
        & .subtotal-container-desktop {
            & .subtotal-text-desktop {

            }
        }

        & .total-detail-container-desktop {
            & .total-detail-text-desktop {
   
            }
        }

        & .total-container-desktop {
            & .total-text-desktop {
 
            }
        }
    }

    & .discount-container-desktop {
        & .discount-input-container-desktop {

        }

        & .apply-button-container-desktop {
            & .apply-button-desktop {

            }
        }
    }

    & .discount-list-container-desktop {
        & .discount-code-tag-desktop {
            & .discount-code-tag-button-container-desktop {
                & .discount-code-tag-button-desktop {
    
                }
            }
        }
    }

    & .go-to-checkout-container-desktop {
        & .checkout-button-desktop {
        
        }
    }

    & .pay-button-container-desktop {
 
    }
}

.root-tablet {
    height: 100%;
    padding: $mp-10;

    & .content-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: $mp-6;
        align-items: center;

        & .card-container-tablet {
            padding: $mp-6;
            min-width: 500px;
            border: 1px solid rgba(42, 42, 95, .6);
            border-radius: 6px;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }
    }
    
    & .account-container-tablet {
        & .already-have-an-account-title-tablet {

        }

        & .already-have-an-account-description-tablet {

        }

        & .sign-in-button-container-tablet {

        }
    }

    & .shopping-cart-container-tablet {
        margin-top: $mp-8;
        padding: 0 $mp-4;

        & .shopping-cart-title-tablet {

        }

        & .shopping-cart-items-tablet {
            & .tab-container-tablet {
            }
        }
    }

    & .pricing-container-tablet {
        padding: $mp-4;

        & .subtotal-container-tablet {
            & .subtotal-text-tablet {

            }
        }

        & .total-detail-container-tablet {
            & .total-detail-text-tablet {
   
            }
        }

        & .total-container-tablet {
            & .total-text-tablet {
 
            }
        }
    }

    & .discount-container-tablet {
        padding: 0 $mp-4;

        & .discount-input-container-tablet {

        }

        & .apply-button-container-tablet {
            & .apply-button-tablet {

            }
        }
    }

    & .discount-list-container-tablet {
        & .discount-code-tag-tablet {
            & .discount-code-tag-button-container-tablet {
                & .discount-code-tag-button-tablet {
    
                }
            }
        }
    }

    & .go-to-checkout-container-tablet {
        padding: 0 $mp-4;
        margin-bottom: $mp-10;

        & .checkout-button-tablet {
        
        }
    }

    & .pay-button-container-tablet {
 
    }
}

.root-mobile {
    & .account-container-mobile {
        & .already-have-an-account-title-mobile {

        }

        & .already-have-an-account-description-mobile {

        }

        & .sign-in-button-container-mobile {

        }
    }

    & .shopping-cart-container-mobile {
        margin-top: $mp-8;
        padding: 0 $mp-4;

        & .shopping-cart-title-mobile {

        }

        & .shopping-cart-items-mobile {
            & .tab-container-mobile {
            }
        }
    }

    & .pricing-container-mobile {
        padding: $mp-4;

        & .subtotal-container-mobile {
            & .subtotal-text-mobile {

            }
        }

        & .total-detail-container-mobile {
            & .total-detail-text-mobile {
   
            }
        }

        & .total-container-mobile {
            & .total-text-mobile {
 
            }
        }
    }

    & .discount-container-mobile {
        padding: 0 $mp-4;

        & .discount-input-container-mobile {

        }

        & .apply-button-container-mobile {
            & .apply-button-mobile {

            }
        }
    }

    & .discount-list-container-mobile {
        & .discount-code-tag-mobile {
            & .discount-code-tag-button-container-mobile {
                & .discount-code-tag-button-mobile {
    
                }
            }
        }
    }

    & .go-to-checkout-container-mobile {
        padding: 0 $mp-4;
        margin-bottom: $mp-10;

        & .checkout-button-mobile {
        
        }
    }

    & .pay-button-container-mobile {
 
    }
}

.outline-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}

.input-form-layout-label {
    color: $brand-900 !important;
}

.input-root-skeleton {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: $mp-2;
}

.input-form-layout-label-skeleton {
    margin-bottom: $mp-2;
}
  
.input {
    color: $brand-900 !important;
}
  
.input-container {
    border-color: $brand-900 !important;
}

.tab-nav {
    padding: $mp-2 0 !important;
}

.tab-button {
    color: $brand-900 !important;
    font-size: $font-size-xs !important;
    font-weight: $font-weight-bold !important;
    padding: $mp-3 $mp-6 !important;
}

.selected-tab-button {
    color: #fff !important;
}

.tab-slider-pill {
    background-color: $brand-900 !important;
}

.add-variants-container {
    display: flex;
    flex-direction: column;
    padding-top: $mp-4;
}

.modal-overlay {
    z-index: 24;
    background-color: rgba(42, 42, 95, .15);
}

.modal-desktop {
    max-height: 95vh;
    width: 500px;
    overflow-y: auto;
    padding: $mp-8 !important;
}

.modal-text-desktop {
    padding: $mp-8 !important;
}

.modal-tablet {
    max-height: 95vh;
    width: 500px;
    overflow-y: auto;
    padding: $mp-6 !important;
}

.modal-text-tablet {
    padding: $mp-6 !important;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-footer-button-container-tablet {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-tablet {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.dropdown-title {
    color: $brand-900;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    padding: 0 $mp-4;
}

.dropdown-description {
    color: $brand-900;
    font-size: $font-size-base;
    padding: $mp-4;
}

.add-to-cart-button-container-mobile {
    padding: $mp-4;
}

.add-to-cart-button {
    background-color: $brand-700;
}

.add-to-cart-button:hover {
    background-color: $brand-700;
}