@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.container-mobile {
    padding: $mp-2 0;

    & .details-mobile {
        display: flex;
        margin-bottom: $mp-1;

        & .thumbnail-mobile {
            display: flex;
            justify-content: center;
            height: 56px;
            width: 56px;
            background-color: $gray-100;
            margin-right: $mp-4;

            & .thumbnail-image-mobile {
                padding: $mp-1 0;
                max-height: 100%;
                width: auto;
                color: $brand-900;
            }
        }

        & .title-container-mobile {
            & .title-mobile {
                color: $brand-900;
                font-size: $font-size-base;
                font-weight: $font-weight-bold;
                margin-bottom: $mp-1;
            }

            & .variant-mobile {
                color: $brand-900;
                font-size: $font-size-sm;
            }
        }

        & .quantity-details-container-mobile {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: right;
            margin-right: $mp-2;

            & .quantity-container-mobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: fit-content;

                & .quantity-text-mobile {
                    color: $brand-900;
                    font-size: $font-size-xs;
                }

                & .quantity-buttons-mobile {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    & .quantity-button {
                        padding: $mp-1;
                        color: $brand-900;
                    }
    
                    & .quantity {
                        margin-left: $mp-2;
                        margin-right: $mp-2;
                        color: $brand-900;
                        font-size: $font-size-sm;
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }

        & .remove-container {
            & .remove-button {
                color: $brand-900;
            }
        }
    }

    & .pricing-details-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 100%;

        & .pricing {
            width: fit-content;
            color: $brand-900;
            font-weight: $font-weight-bold;
            font-size: $font-size-sm;
        }

        & .pricing-canceled {
            text-decoration: line-through;
        }

        & .discount-pricing {
            width: fit-content;
            color: $brand-900;
            font-weight: $font-weight-bold;
            font-size: $font-size-sm;
            margin-left: $mp-2;
        }

        & .discount-percentage {
            width: fit-content;
            color: $brand-900;
            font-size: $font-size-sm;
            margin-left: $mp-2;
        }
    }
}

.modal-overlay {
    z-index: 24;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
}