@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2px;

  & .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    gap: $mp-2;


    & .avatars {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      min-width: 40px;

      & .avatar-status-container {
        position: relative;
        width: 40px;
        height: 40px;

        & .avatar-container {
            margin-right: -1.5em;
            z-index: 1;
        }

        & .avatar-online-status {
            position: absolute;
            height: 16px;
            width: 16px;
            background-color: #00FF00;
            border-radius: 16px;
            right: -2px;
            bottom: -2px;
            z-index: 1;
            border: 3px solid #fff;
        }
      }
    }

    & .top-bar-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: $mp-1;

      & .top-bar-title {
        color: $brand-900;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }

      & .top-bar-subtitle {
        color: $brand-900;
        font-size: $font-size-xs;
      }
    }
  }
}

.root-desktop {

}

.root-mobile {
 
}

.avatar-container {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

.rounded-button {
  background-color: transparent !important;
  color: $brand-900 !important;
}

.rounded-button:hover {
  background-color: rgba(42, 42, 95, 0.15) !important;
}

.dropdown-touchscreen-overlay {
  background-color: rgba(42, 42, 95, 0.15) !important;
}

.dropdown-item-container-interests svg {
  color: $brand-900 !important;
}

.dropdown-item-button-interests {
  color: $brand-900 !important;
  width: 100%;
}

.dropdown-item-button-children-interests {
  display: flex;
  width: 100%;
}

.modal-overlay {
  z-index: 24;
  background-color: rgba(42, 42, 95, 0.15);
}

.modal {
  max-height: 95vh;
  overflow-y: auto;
  overscroll-behavior: none;
  min-width: 500px;
}

.modal-desktop {
  padding: $mp-8;
}

.modal-text-desktop {
  padding: 0 !important;
  padding-bottom: $mp-6 !important;
  max-width: 500px;
}

.modal-title {
  color: $brand-900 !important;
  text-align: center;
  text-transform: capitalize;
}

.modal-description {
  color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-address-footer-button-container-desktop {
  border-top: 1px solid rgba(42, 42, 95, 0.6);
}

.modal-footer-button-container-tablet {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-address-footer-button-container-tablet {
  border-top: 1px solid rgba(42, 42, 95, 0.6);
}

.modal-cancel-button {
  background-color: transparent !important;
  border: 1px solid $brand-900 !important;
  padding-left: $mp-4 !important;
  padding-right: $mp-4 !important;
}

.modal-confirm-button {
  background-color: $brand-700 !important;
  padding-left: $mp-4 !important;
  padding-right: $mp-4 !important;
}

.loading-container {
    display: flex;
  justify-content: center;
  align-items: center;
  transition: min-height 75ms $transition-standard-easing;
}
