@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;
    overflow-y: auto;

    & .card-container {
        width: 100%;
        height: fit-content;
        max-height: fit-content;

        & .card-content-container {
            width: 100%;

            & .header-container {
                display: flex;
                align-items: center;
                height: 56px;
                width: 100%;
                margin-bottom: $mp-4;
    
                & .step-count {
                    border-radius: $rounded-full;
                    background-color: $brand-900;
                    padding: $mp-2;
                    margin-right: $mp-2;
                    line-height: $font-size-sm;
                    font-size: $font-size-sm;
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    justify-content: center;
                    display: flex;
                }
    
                & .header-title {
                    font-size: $font-size-base;
                    color: $brand-900;
                    font-weight: $font-weight-bold;
                }

                & .header-right-content {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    height: 100%;
                }
            }

            & .card-description {
                color: $brand-900;
                font-size: $font-size-sm;
            }

            & .apply-card-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
        
                & .apply-card-input-container {
                    width: 100%;
                }
        
                & .apply-button-container {
                    margin-left: $mp-4;
                    margin-top: $mp-3;
        
                    & .apply-button {
                        background-color: transparent;
                        border-color: $brand-900;
                        color: $brand-900;
                    }
                }
            }

            & .tag-list-container {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: $mp-6;
        
                & .tag {
                    position: relative;
                    border-radius: $rounded-full;
                    padding: $mp-2 $mp-4;
                    background-color: $brand-900;
                    font-size: $font-size-xs;
                    margin-right: $mp-1;
                    margin-bottom: $mp-1;
                    color: #fff;
        
                    & .tag-button-container {
                        position: absolute;
                        top: -4px;
                        right: -8px;
        
        
                        & .tag-button {
                            padding: $mp-1;
                        }
                    }
                }
            }
        }

        & .is-legal-age-container {
                
        }

        & .pricing-container {    
            & .subtotal-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: $mp-4;
    
                & .subtotal-text {
                    width: fit-content;
                    font-size: $font-size-lg;
                    font-weight: $font-weight-bold;
                    color: $brand-900;
                }
            }
    
            & .total-detail-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: $mp-2;
    
                & .total-detail-text {
                    width: fit-content;
                    font-size: $font-size-sm;
                    color: $brand-900;
                }
            }
    
            & .total-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: $mp-4;
                margin-bottom: $mp-4;
                padding-top: $mp-2;
                border-top: solid $brand-900 1px;
    
                & .total-text {
                    width: fit-content;
                    font-size: $font-size-lg;
                    font-weight: $font-weight-bold;
                    color: $brand-900;
                }
            }
        }

        & .pay-button-container {
            
        }
    }

    & .add-address-container {
        & .add-address-button-container {
            width: 100%;
            padding-top: $mp-4;

            & .add-address-button {
                background-color: $brand-700;
            }
        }
    }

    & .pay-container {
        & .add-address-button-container {
            width: 100%;
            padding-top: $mp-4;

            & .add-address-button {
                background-color: $brand-700;
            }
        }
    }

    & .loading-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        background-color: rgba(42, 42, 95, .35);
        z-index: 24;

        & .loading-ring {
            width: 100%;
            height: 32px;
        }
    }
}

.root-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $mp-6;
    padding: $mp-10;

    & .left-content-desktop {
        display: flex;
        flex-direction: column;
        gap: $mp-6;
        width: 500px;
        height: fit-content;
        padding-bottom: $mp-10;
    }

    & .right-content-desktop {
        display: flex;
        flex-direction: column;
        gap: $mp-6;
        width: 500px;
        height: fit-content;
        padding-bottom: $mp-10;
    }

    & .card-container-desktop {
        border: 1px solid rgba(42, 42, 95, .6);
        border-radius: 6px;
        margin-bottom: $mp-2;
        padding: $mp-6;

        & .card-content-container-desktop {

            & .header-container-desktop {   
                & .step-count-desktop {
                }
    
                & .header-title-desktop {
                }

                & .header-right-content-desktop {
                }
            }

            & .card-description-desktop {
            }

            & .apply-card-container-desktop {        
                & .apply-card-input-container-desktop {
                }
        
                & .apply-button-container-desktop {
                    & .apply-button-desktop {
                    }
                }
            }

            & .tag-list-container-desktop {        
                & .tag-desktop {        
                    & .tag-button-container-desktop {        
                        & .tag-button-desktop {
                        }
                    }
                }
            }
        }

        & .is-legal-age-container-desktop {
                
        }

        & .pricing-container-desktop {
            padding: $mp-4 0;

            & .subtotal-container-desktop {
                & .subtotal-text-desktop {
                }
            }
    
            & .total-detail-container-desktop {    
                & .total-detail-text-desktop {

                }
            }
    
            & .total-container-desktop {    
                & .total-text-desktop {
                }
            }
        }

        & .pay-button-container-desktop {
            
        }
    }

    & .add-address-container-desktop {
        padding: $mp-6;

        & .add-address-button-container-desktop {
            & .add-address-button-desktop {
            }
        }
    }

    & .pay-container-desktop {
        padding: $mp-6;
        min-width: 500px;

        & .add-address-button-container-desktop {
            & .add-address-button-desktop {
            }
        }
    }

    & .loading-container-desktop {
        & .loading-ring-desktop {

        }
    }
}

.root-mobile {
    & .card-container-mobile {
        border-bottom: 1px solid rgba(42, 42, 95, .6);
        margin-bottom: $mp-2;
        padding-top: $mp-2;
        padding-bottom: $mp-4;

        & .card-content-container-mobile {
            padding: 0 $mp-4;

            & .header-container-mobile {   
                & .step-count-mobile {
                }
    
                & .header-title-mobile {
                }

                & .header-right-content-mobile {
                }
            }

            & .card-description-mobile {
            }

            & .apply-card-container-mobile {        
                & .apply-card-input-container-mobile {
                }
        
                & .apply-button-container-mobile {
                    & .apply-button-mobile {
                    }
                }
            }

            & .tag-list-container-mobile {        
                & .tag-mobile {        
                    & .tag-button-container-mobile {        
                        & .tag-button-mobile {
                        }
                    }
                }
            }
        }

        & .is-legal-age-container-mobile {
            padding: 0 $mp-4;
        }

        & .pricing-container-mobile {
            padding: $mp-4;

            & .subtotal-container-mobile {
                & .subtotal-text-mobile {
                }
            }
    
            & .total-detail-container-mobile {    
                & .total-detail-text-mobile {

                }
            }
    
            & .total-container-mobile {    
                & .total-text-mobile {
                }
            }
        }

        & .pay-button-container-mobile {
            padding: 0 $mp-4;
        }
    }

    & .add-address-container-mobile {
        padding: $mp-4;

        & .add-address-button-container-mobile {
            & .add-address-button-mobile {
            }
        }
    }

    & .pay-container-mobile {
        padding: $mp-4;

        & .add-address-button-container-mobile {
            & .add-address-button-mobile {
            }
        }
    }

    & .loading-container-mobile {
        & .loading-ring-mobile {

        }
    }
}

.input-form-root {
    flex: 1;
}

.input-form-layout-label {
    color: $brand-900 !important;
}
  
.input {
    color: $brand-900 !important;
}
  
.input-container {
    border-color: $brand-900 !important;
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: $brand-900 !important;
}
  
.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}

.country-flag-mobile {
    margin-right: $mp-2;
}

.option-name {
    color: $brand-900 !important;
    font-size: $font-size-sm;
}

.checkbox-container {
    margin-top: $mp-8;
}

.checkbox-label {
    color: $brand-900 !important;
}

.submit-button-container {
    margin-top: $mp-4;
}

.submit-button {
    background-color: $brand-700 !important;
}

.radio-price-text {
    font-size: $font-size-sm;
    color: $brand-900;
}

.radio-container-card {
    border-color: $brand-900 !important;
}

.radio-container-card-active {
    background-color: rgba(133, 38, 122, .1) !important;
}

.radio-label-text {
    color: $brand-900 !important;
    font-weight: $font-weight-bold;
    margin-bottom: $mp-2;
}

.radio-label-description-text {
    color: $brand-900 !important;
}

.pay-button-container {
    padding-top: $mp-4;
}

.pay-button {
    background-color: $brand-700 !important;
}

.button {
    color: $brand-900 !important;
}

.button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.stripe-input-base {
    border-width: 1px;
    border-style: solid;
    border-color: $brand-900;
    font-family: inherit;
    font-size: $font-size-sm;
    line-height: $font-line-height-sm;
    color: $brand-900;
    padding: $mp-3;
    border-radius: $rounded-md;
    min-height: 44px;
    width: 100%;
}

.stripe-input-base::placeholder {
    color: 'rgba(42, 42, 95, 1)';
}

.horizontal-input-container {
    display: flex;
    flex-direction: row;
    gap: $mp-2;
    width: 100%;
}

.modal-overlay {
    z-index: 24;
}

.modal-text-desktop {
    padding: $mp-6 !important;
    max-width: 30vw;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}