@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: none;

    & .card-container {
        & .card-content-container {
            width: 100%;

            & .header-container-skeleton {
                display: flex;
                align-items: center;
                height: 56px;
                width: 100%;
                gap: $mp-2;
                margin-bottom: $mp-4;
            }

            & .header-container {
                display: flex;
                align-items: center;
                height: 56px;
                width: 100%;
                margin-bottom: $mp-4;
    
                & .step-count {
                    border-radius: $rounded-full;
                    background-color: $brand-900;
                    padding: $mp-2;
                    margin-right: $mp-2;
                    line-height: $font-size-sm;
                    font-size: $font-size-sm;
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    justify-content: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }
    
                & .header-title {
                    font-size: $font-size-base;
                    color: $brand-900;
                    font-weight: $font-weight-bold;
                }

                & .header-right-content {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    height: 100%;
                }
            }

            & .card-description {
                color: $brand-900;
                font-size: $font-size-sm;
            }

            & .apply-card-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: flex-end;
        
                & .apply-card-input-container {
                    width: 100%;
                }

                & .apply-button-container-skeleton {
                    margin-left: $mp-4;
                    margin-bottom: $mp-2;
                }
        
                & .apply-button-container {
                    margin-left: $mp-4;
                    margin-bottom: $mp-4;
                }

                & .apply-button {
                    background-color: transparent;
                    border-color: $brand-900;
                    color: $brand-900;
                }
            }

            & .tag-list-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                margin-bottom: $mp-6;
        
                & .tag {
                    position: relative;
                    border-radius: $rounded-full;
                    padding: $mp-2 $mp-4;
                    background-color: $brand-900;
                    font-size: $font-size-xs;
                    margin-right: $mp-1;
                    margin-bottom: $mp-1;
                    color: #fff;
        
                    & .tag-button-container {
                        position: absolute;
                        top: -4px;
                        right: -8px;
        
        
                        & .tag-button {
                            padding: $mp-1;
                        }
                    }
                }
            }
        }

        & .is-legal-age-container {
                
        }

        & .pricing-container {    
            & .subtotal-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                margin-bottom: $mp-4;
    
                & .subtotal-text {
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    font-size: $font-size-lg;
                    font-weight: $font-weight-bold;
                    color: $brand-900;
                }
            }
    
            & .total-detail-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                margin-bottom: $mp-2;
    
                & .total-detail-text {
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    font-size: $font-size-sm;
                    color: $brand-900;
                }
            }
    
            & .total-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                margin-top: $mp-4;
                margin-bottom: $mp-4;
                padding-top: $mp-2;
                border-top: solid $brand-900 1px;
            }

            & .total-container-skeleton {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                margin-top: $mp-4;
                margin-bottom: $mp-4;
                padding-top: $mp-2;
            }

            & .total-text {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                color: $brand-900;
            }
        }

        & .pay-button-container {
            
        }
    }

    & .checkbox-container-skeleton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: $mp-2;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.root-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $mp-4;
    padding: $mp-10;
    padding-top: calc(56px + 40px);

    & .left-content-desktop {
        display: flex;
        flex-direction: column;
        gap: $mp-4;
        width: 500px;
        height: fit-content;
        padding-bottom: $mp-10;
    }

    & .right-content-desktop {
        display: flex;
        flex-direction: column;
        gap: $mp-4;
        width: 500px;
        height: fit-content;
        padding-bottom: $mp-10;
    }

    & .card-container-desktop {
        border: 1px solid rgba(42, 42, 95, .15);
        background-color: #fff;
        border-radius: 6px;
        padding: $mp-6;
        width: 100%;

        & .card-content-container-desktop {

            & .header-container-desktop {   
                & .step-count-desktop {
                }
    
                & .header-title-desktop {
                }

                & .header-right-content-desktop {
                }
            }

            & .card-description-desktop {
            }

            & .apply-card-container-desktop {        
                & .apply-card-input-container-desktop {
                }
        
                & .apply-button-container-desktop {
                    & .apply-button-desktop {
                    }
                }
            }

            & .tag-list-container-desktop {        
                & .tag-desktop {        
                    & .tag-button-container-desktop {        
                        & .tag-button-desktop {
                        }
                    }
                }
            }
        }

        & .is-legal-age-container-desktop {
                
        }

        & .pricing-container-desktop {
            padding: $mp-4 0;

            & .subtotal-container-desktop {
                & .subtotal-text-desktop {
                }
            }
    
            & .total-detail-container-desktop {    
                & .total-detail-text-desktop {

                }
            }
    
            & .total-container-desktop {    
                & .total-text-desktop {
                }
            }
        }

        & .pay-button-container-desktop {
            
        }
    }
}

.root-tablet {
    padding: $mp-10;
    padding-top: calc(56px + 40px);
    gap: $mp-6;
    align-items: center;

    & .card-container-tablet {
        border: 1px solid rgba(42, 42, 95, .6);
        border-radius: 6px;
        margin-bottom: $mp-2;
        padding: $mp-6;
        width: 520px;

        & .card-content-container-tablet {
            padding: 0 $mp-4;

            & .header-container-tablet {   
                & .step-count-tablet {
                }
    
                & .header-title-tablet {
                }

                & .header-right-content-tablet {
                }
            }

            & .card-description-tablet {
            }

            & .apply-card-container-tablet {        
                & .apply-card-input-container-tablet {
                }
        
                & .apply-button-container-tablet {
                    & .apply-button-tablet {
                    }
                }
            }

            & .tag-list-container-tablet {        
                & .tag-tablet {        
                    & .tag-button-container-tablet {        
                        & .tag-button-tablet {
                        }
                    }
                }
            }
        }

        & .is-legal-age-container-tablet {
            padding: 0 $mp-4;
        }

        & .pricing-container-tablet {
            padding: $mp-4;

            & .subtotal-container-tablet {
                & .subtotal-text-tablet {
                }
            }
    
            & .total-detail-container-tablet {    
                & .total-detail-text-tablet {

                }
            }
    
            & .total-container-tablet {    
                & .total-text-tablet {
                }
            }
        }

        & .pay-button-container-tablet {
            padding: 0 $mp-4;
        }
    }
}

.root-mobile {
    & .card-container-mobile {
        background-color: #fff;
        border-radius: 6px;
        margin-bottom: 2px;
        padding-top: $mp-2;
        padding-bottom: $mp-4;
        width: 100%;

        & .card-content-container-mobile {
            padding: 0 $mp-4;

            & .header-container-mobile {   
                & .step-count-mobile {
                }
    
                & .header-title-mobile {
                }

                & .header-right-content-mobile {
                }
            }

            & .card-description-mobile {
            }

            & .apply-card-container-mobile {        
                & .apply-card-input-container-mobile {
                }
        
                & .apply-button-container-mobile {
                    & .apply-button-mobile {
                    }
                }
            }

            & .tag-list-container-mobile {        
                & .tag-mobile {        
                    & .tag-button-container-mobile {        
                        & .tag-button-mobile {
                        }
                    }
                }
            }
        }

        & .is-legal-age-container-mobile {
            padding: 0 $mp-4;
        }

        & .pricing-container-mobile {
            padding: $mp-4;

            & .subtotal-container-mobile {
                & .subtotal-text-mobile {
                }
            }
    
            & .total-detail-container-mobile {    
                & .total-detail-text-mobile {

                }
            }
    
            & .total-container-mobile {    
                & .total-text-mobile {
                }
            }
        }

        & .pay-button-container-mobile {
            padding: 0 $mp-4;
        }
    }

    & .loading-container-mobile {
        & .loading-ring-mobile {

        }
    }
}

.input-root-skeleton {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: $mp-2;
}

.input-form-layout-label-skeleton {
    margin-bottom: $mp-2;
}

.input-form-root {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.input-form-layout-label {
    color: $brand-900 !important;
}
  
.input {
    color: $brand-900 !important;
}
  
.input-container {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}
  
.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}

.country-flag-mobile {
    margin-right: $mp-2;
}

.option-name {
    color: $brand-900 !important;
    font-size: $font-size-sm;
}

.checkbox-container {
    margin-top: $mp-8;
}

.checkbox-label {
    color: $brand-900 !important;
}

.submit-button-container {
    margin-top: $mp-4;
}

.submit-button {
    background-color: $brand-700 !important;
}

.radio-price-text {
    font-size: $font-size-sm;
    color: $brand-900;
}

.radio-container-card {
    border-color: $brand-900 !important;
}

.radio-container-card-active {
    background-color: rgba(133, 38, 122, .1) !important;
}

.radio-label-text {
    color: $brand-900 !important;
    font-weight: $font-weight-bold;
    margin-bottom: $mp-2;
}

.radio-label-description-text {
    color: $brand-900 !important;
}

.pay-button-container {
    padding-top: $mp-4;
}

.pay-button {
    background-color: $brand-700 !important;
}

.button {
    color: $brand-900 !important;
}

.button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.stripe-input-base {
    border-width: 1px;
    border-style: solid;
    border-color: $brand-900;
    font-family: inherit;
    font-size: $font-size-sm;
    line-height: $font-line-height-sm;
    color: $brand-900;
    padding: $mp-3;
    border-radius: $rounded-md;
    min-height: 44px;
    width: 100%;
}

.stripe-input-base::-webkit-input-placeholder {
    color: 'rgba(42, 42, 95, 1)';
}

.stripe-input-base::-moz-placeholder {
    color: 'rgba(42, 42, 95, 1)';
}

.stripe-input-base:-ms-input-placeholder {
    color: 'rgba(42, 42, 95, 1)';
}

.stripe-input-base::-ms-input-placeholder {
    color: 'rgba(42, 42, 95, 1)';
}

.stripe-input-base::placeholder {
    color: 'rgba(42, 42, 95, 1)';
}

.horizontal-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: $mp-2;
    width: 100%;
}

.modal-overlay {
    z-index: 24;
    background-color: rgba(42, 42, 95, .15);
}

.modal-desktop {
    max-height: 95vh;
    min-width: 500px;
    padding: $mp-8;
    overflow-y: auto;
    overscroll-behavior: none;
}

.modal-text-desktop {
    padding: $mp-6 !important;
    max-width: 500px;
}

.modal-tablet {
    max-height: 95vh;
    min-width: 500px;
    padding: $mp-6;
    overflow-y: auto;
    overscroll-behavior: none;
}

.modal-text-tablet {
    padding: $mp-6 !important;
    max-width: 500px;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-footer-button-container-tablet {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-address-footer-button-container-tablet {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.add-address-container {
    & .add-address-button-container {
        width: 100%;
        padding-top: $mp-4;

        & .add-address-button {
            background-color: $brand-700;
        }
    }
}

.add-address-container-desktop {
    & .add-address-button-container-desktop {
        & .add-address-button-desktop {
        }
    }
}

.add-address-container-tablet {
    padding: $mp-4;

    & .add-address-button-container-tablet {
        & .add-address-button-tablet {
        }
    }
}

.add-address-container-mobile {
    padding: $mp-4;

    & .add-address-button-container-mobile {
        & .add-address-button-mobile {
        }
    }
}

.pay-container {
    & .add-address-button-container {
        width: 100%;
        padding-top: $mp-4;

        & .add-address-button {
            background-color: $brand-700;
        }
    }
}

.pay-container-desktop {
    min-width: 500px;

    & .add-address-button-container-desktop {
        & .add-address-button-desktop {
        }
    }
}

.pay-container-tablet {
    padding: $mp-4;

    & .add-address-button-container-tablet {
        & .add-address-button-tablet {
        }
    }
}

.pay-container-mobile {
    padding: $mp-4;

    & .add-address-button-container-mobile {
        & .add-address-button-mobile {
        }
    }
}

.loading-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(42, 42, 95, .35);
    z-index: 24;

    & .loading-ring {
        width: 100%;
        max-height: 32px;
    }
}

.loading-container-desktop {
    & .loading-ring-desktop {

    }
}

.loading-container-tablet {
    & .loading-ring-tablet {

    }
}