@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  display: grid;
  grid-template-columns: 132fr 352fr 956fr;
  height: 100%;
  min-width: 100%;

  & .content-desktop {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 50%;
  }
}

.root-mobile {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  & .content-mobile {
    width: 100%;
    padding: 0 $mp-4;
  }
}

.root {
  & .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.auth-input-form-layout-label {
  color: $brand-900 !important;
}

.auth-input {
  color: $brand-900 !important;
}

.auth-input-container {
  border-color: $brand-900 !important;
}

.auth-button {
  background-color: $brand-700 !important;
}