@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.marker {
    background-size:cover;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.marker-popup {
    background-color: #fff;
    padding: $mp-2;
    border-radius: $rounded-md;

    & .company {
        color: $brand-900;
        font-weight: $font-weight-bold;
    }

    & .address {
        color: $brand-900;
    }

    & .select-button-container {
        display: flex;
        margin-top: $mp-2;
        width: 100%;
        justify-content: flex-end;
    }
}

.select-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}