@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;

    & .content-container {
        position: relative;
        height: 50vh;
        border-radius: 6px;

        & .background-image {
            position: absolute;
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }

        & .background-filter {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(42, 42, 95, .45);
            border-radius: 6px;
        }

        & .content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 100%;
            border-radius: 6px;

            & .logo {
                height: 96px;
                width: 96px;
                z-index: 1;
                margin-bottom: $mp-4;
            }

            & .logo-text {
                height: 20px;
                z-index: 1;
            }

            & .call-to-action-text {
                color: $brand-100;
                font-size: $font-size-base;
                z-index: 1;
                padding: $mp-4;
                text-align: center;
            }
        }
    }

    & .map-container {
        height: 40vh;
        width: 100%;
        border-radius: 6px;
    }
}

.root-desktop {
    gap: $mp-4;
    padding: $mp-4;

    & .content-container-desktop {
        & .background-image-desktop {

        }

        & .background-filter-desktop {

        }

        & .content-desktop {
            & .logo-desktop {

            }

            & .logo-text-desktop {

            }

            & .call-to-action-text-desktop {

            }
        }
    }

    & .map-container-desktop {

    }
}

.root-mobile {
    gap: $mp-2;
    padding: $mp-2;

    & .content-container-mobile {
        & .background-image-mobile {

        }

        & .background-filter-mobile {

        }

        & .content-mobile {
            & .logo-mobile {

            }

            & .logo-text-mobile {

            }

            & .call-to-action-text-mobile {

            }
        }
    }

    & .map-container-mobile {

    }
}

.marker {
    background-size:cover;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.marker-popup {
    background-color: #fff;
    padding: $mp-2;
    border-radius: $rounded-md;

    & .company {
        color: $brand-900;
        font-weight: $font-weight-bold;
    }

    & .address {
        color: $brand-900;
    }

    & .select-button-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: $mp-2;
        width: 100%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}

.select-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}

.shop-now-button {
    background-color: transparent !important;
    border-color: $brand-100 !important;
    border-width: 2px !important;
    color: $brand-100 !important;
}