@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  height: 100%;

  & .content-desktop {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .animation-container-desktop {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      & .landing-title-container-desktop {
        margin-top: 15vh;

        & .title-desktop {
          font-size: 3.5vw;
          white-space: nowrap;
          padding-left: 20vw;
          max-width: 50%;
          line-height: 4.5vw;
          text-align: center;

          & .title-spacing-desktop {
            margin-left: 6vw;
          }
        }

        & .landing-sub-title-container-desktop {
          & .sub-title-desktop {
            font-size: 0.7vw;
            line-height: 1.1vw;
            padding-right: 20vw;
          }
        }
      }
    }

    & .button-container-desktop {
      margin: $mp-8 0;
    }

    & .service-list-desktop {
      padding: 0 20vw;
    }
  }
}

.service-container-desktop {
  max-width: 316px;
  min-height: 354px;

  & .service-top-content-desktop {
    & .service-title-desktop {
    }

    & .service-icon-container-desktop {
    }

    & .service-description-desktop {
    }
  }
}

.root-mobile {
  & .content-mobile {
    & .animation-container-mobile {
      align-items: flex-start;

      & .text-container-mobile {
        pointer-events: none;

        & .landing-title-container-mobile {
          display: flex;
          margin-top: 10vh;
          padding: $mp-4;
          flex-direction: column;

          & .title-mobile {
            overflow-wrap: break-word;
            font-size: 18pt;
            line-height: 40pt;

            & .title-spacing-mobile {
            }
          }

          & .sub-title-mobile {
            overflow-wrap: break-word;
            font-size: 12pt;
            line-height: 20pt;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 500;
            padding-bottom: $mp-8;
          }
        }
      }
    }

    & .button-container-mobile {
      margin: $mp-4 0;
    }

    & .service-list-mobile {
      margin-bottom: $mp-8;
    }
  }
}

.service-container-mobile {
  margin: 0 $mp-2;
  min-height: 354px;

  & .service-top-content-mobile {
    & .service-title-mobile {
    }

    & .service-icon-container-mobile {
    }

    & .service-description-mobile {
    }
  }
}

.root {
  & .content {
    & .animation-container {
      & .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      & .landing-title-container {
        display: flex;

        & .title {
          height: fit-content;
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
          padding-bottom: $mp-8;
          font-weight: $font-weight-bold;

          & .title-spacing {
          }
        }

        & .landing-sub-title-container {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          text-align: left;
          width: 100%;

          & .sub-title {
            height: fit-content;
            line-break: normal;
            white-space: pre-line;
            color: rgba(255, 255, 255, 0.7);
            padding-bottom: $mp-8;
            font-weight: 500;
            align-self: baseline;
          }
        }
      }

      & .button-container {
        & .button {
          border-radius: $rounded-full;
        }
      }

      & .world-container {
        overflow: hidden;
        height: 50vh;
        width: 100vw;
      }

      & .service-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-top: $mp-8;
        gap: $mp-8;

        & .service-container {
          background-color: rgba(7, 11, 46, 0.6);
          padding: $mp-8;
          border-radius: 28px;

          & .service-top-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: $mp-4;

            & .service-title {
              font-size: $font-size-lg;
              font-weight: $font-weight-bold;
              color: white;
              line-height: 56px;
            }

            & .service-icon-container {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              height: 56px;
              width: 56px;
              background-color: rgba(36, 128, 180, 0.5);
              border-radius: $rounded-md;
            }
          }

          & .service-description {
            color: rgba(255, 255, 255, 0.8);
            line-break: normal;
            white-space: pre-line;
            text-align: left;
            font-size: $font-size-sm;
            line-height: $font-line-height-sm;
          }
        }
      }
    }
  }
}
