@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;

    & .top-bar {
        position: absolute;
        height: 56px;
        min-height: 56px;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #fff !important;
        border-radius: 6px;
        z-index: 2;

        & .title-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: $brand-900;
            height: 100%;
            width: 100%;
            gap: $mp-1;

            & .title {
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                text-align: center;
                line-height: 56px;
            }
        }
    }

    & .scroll-content-skeleton {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    & .scroll-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;

        & .loading-ring {
            width: 100%;
            transition: max-height 150ms $transition-standard-easing;
        }

        & .notifications-item {
            background-color: #fff;
            border-radius: 6px;

            & .from-now-date {
                color: $brand-900;
                font-weight: $font-weight-bold;
                font-size: $font-size-sm;
             }
        }

        & .no-notifications-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            & .no-items-text {
                margin-top: $mp-4;
                color: $brand-900;
                font-size: $font-size-sm;
                text-align: center;
            }
        
            & .no-items-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-top: $mp-8;
                margin-bottom: $mp-4;
            }
        }
    }
}

.root-desktop {
    & .top-bar-desktop {
        & .title-container-desktop {
            & .title-desktop {
                
            }
        }
    }

    & .scroll-content-desktop {
        padding-top: calc(56px + 2px);
        padding-bottom: $mp-6;

        & .loading-ring-desktop {

        }

        & .from-now-date-desktop {
            padding: $mp-4 $mp-6;
        }

        & .no-notifications-container-desktop {
            padding: $mp-10;

            & .no-items-text-desktop {
   
            }
        
            & .no-items-container-desktop {

            }
        }
    }
}

.root-tablet {
    & .top-bar-tablet {
        & .title-container-tablet {
            & .title-tablet {
                
            }
        }
    }

    & .scroll-content-tablet {
        padding-top: $mp-4;
        
        & .loading-ring-tablet {

        }

        & .from-now-date-tablet {
            padding: $mp-4 $mp-6;
        }

        & .no-notifications-container-tablet {
            padding: $mp-10;

            & .no-items-text-tablet {
   
            }
        
            & .no-items-container-tablet {

            }
        }
    }
}

.root-mobile {
    & .top-bar-mobile {
        & .title-container-mobile {
            & .title-mobile {
                
            }
        }
    }

    & .scroll-content-skeleton-mobile {
        padding-top: calc(56px + 2px);
    }

    & .scroll-content-mobile {
        & .loading-ring-mobile {

        }

        & .from-now-date-mobile {
            padding: $mp-4 $mp-4;
        }

        & .no-notifications-container-mobile {
            padding: $mp-10;

            & .no-items-text-mobile {
   
            }
        
            & .no-items-container-mobile {

            }
        }
    }
}

.scroll-root {

}

.scroll-root-tablet {
    padding-top: 56px;
}

.scroll-container-mobile {
    padding-top: calc(56px + 2px);
}

.pull-indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.pull-indicator {
    color: $brand-900;
}

.pull-indicator * {
  transform-origin: 50% 50%;
}

.pull-indicator-mobile {
    top: calc(56px + 16px);
}

.scroll-content-mobile {

}

.scroll-load-container {
    padding: $mp-4;
}