@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    flex-direction: column;
    padding: 0 $mp-4;
    padding-top: 56px;
    padding-bottom: $mp-8;
    overflow-y: auto;
    min-width: 100%;
    height: 100%;

    & .thankyou-text {
        color: $brand-900;
        font-size: $font-size-lg;
        margin-bottom: $mp-6;
    }

    & .order-number-text {
        color: $brand-900;
        font-size: 24pt;
        font-weight: $font-weight-bold;
        margin-bottom: $mp-2;
    }

    & .order-id-text {
        color: $brand-900;
        font-size: $font-size-lg;
        margin-bottom: $mp-6;
    }

    & .date-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $mp-2;

        & .date-content {
            display: flex;
            flex-direction: row;

            & .date-text {
                color: $brand-900;
                font-size: $font-size-lg;
                margin-right: $mp-4;
                line-height: 34px;
            }
    
            & .item-count-text {
                color: $brand-900;
                font-size: $font-size-lg;
                line-height: 34px;
            }
        }
    }

    & .shipping-items {
        display: flex;
        flex-direction: column;
    }

    & .content-container {
        width: 100%;
        margin-bottom: $mp-4;

        & .header-container {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: $mp-4;
            line-height: 42px;
            border-bottom: solid $brand-900 1px;

            & .header-title {
                font-size: $font-size-base;
                color: $brand-900;
                font-weight: $font-weight-bold;
            }
        }

        & .subheader-title {
            font-size: $font-size-sm;
            color: $brand-900;
            font-weight: $font-weight-bold;
            margin-bottom: $mp-1;
        }

        & .detail-text {
            font-size: $font-size-sm;
            color: $brand-900;
        }

        & .pricing-container {    
            & .subtotal-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: $mp-4;
    
                & .subtotal-text {
                    width: fit-content;
                    font-size: $font-size-sm;
                    font-weight: $font-weight-bold;
                    color: $brand-900;
                }
            }
    
            & .total-detail-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: $mp-2;
    
                & .total-detail-text {
                    width: fit-content;
                    font-size: $font-size-sm;
                    color: $brand-900;
                }
            }
    
            & .total-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: $mp-4;
                margin-bottom: $mp-4;
                padding-top: $mp-2;
    
                & .total-text {
                    width: fit-content;
                    font-size: $font-size-sm;
                    font-weight: $font-weight-bold;
                    color: $brand-900;
                }
            }
        }
    }

    & .refund-items-container {
        display: flex;
        flex-direction: column;
        padding: $mp-4;
    }

    & .request-refund-button-container {
        padding: $mp-4;
    }
}

.root-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $mp-6;
    padding: $mp-10;
    padding-top: calc(56px + 24px);

    & .left-content-desktop {
        display: flex;
        flex-direction: column;
        gap: $mp-6;
        width: 500px;
        height: fit-content;
    }

    & .right-content-desktop {
        display: flex;
        flex-direction: column;
        gap: $mp-6;
        width: 500px;
        height: fit-content;
    }

    & .card-container-desktop {
        padding: $mp-6;
        border: 1px solid rgba(42, 42, 95, .6);
        border-radius: 6px;
        margin-bottom: $mp-2;
    }

    & .thankyou-text-desktop {
    }

    & .order-number-text-desktop {
    }

    & .order-id-text-desktop {
    }

    & .date-container-desktop {
        & .date-content-desktop {
            & .date-text-desktop {
            }
    
            & .item-count-text-desktop {
            }
        }
    }

    & .shipping-items-desktop {
    }

    & .content-container-desktop {
        & .header-container-desktop {
            & .header-title-desktop {
            }
        }

        & .subheader-title-desktop {
        }

        & .detail-text-desktop {
        }

        & .pricing-container-desktop {    
            & .subtotal-container-desktop {    
                & .subtotal-text-desktop {
                }
            }
    
            & .total-detail-container-desktop {    
                & .total-detail-text-desktop {
                }
            }
    
            & .total-container-desktop {    
                & .total-text-desktop {
                }
            }
        }
    }

    & .refund-items-container-desktop {
        width: 500px;
    }

    & .request-refund-button-container-desktop {
    }
}

.root-mobile {
    & .thankyou-text-mobile {
    }

    & .order-number-text-mobile {
    }

    & .order-id-text-mobile {
    }

    & .date-container-mobile {
        & .date-content-mobile {
            & .date-text-mobile {
            }
    
            & .item-count-text-mobile {
            }
        }
    }

    & .shipping-items-mobile {
    }

    & .content-container-mobile {
        & .header-container-mobile {
            & .header-title-mobile {
            }
        }

        & .subheader-title-mobile {
        }

        & .detail-text-mobile {
        }

        & .pricing-container-mobile {    
            & .subtotal-container-mobile {    
                & .subtotal-text-mobile {
                }
            }
    
            & .total-detail-container-mobile {    
                & .total-detail-text-mobile {
                }
            }
    
            & .total-container-mobile {    
                & .total-text-mobile {
                }
            }
        }
    }

    & .refund-items-container-mobile {
    }

    & .request-refund-button-container-mobile {
    }
}

.modal-overlay {
    z-index: 24;
}

.modal-container {
    height: 100%;
}

.button {
    background-color: transparent !important;
    color: $brand-900 !important;
}

.button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.refund-button {
    background-color: $brand-700 !important;
}

.option-name {
    color: $brand-900;
    font-size: $font-size-sm;
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}