@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  padding: $mp-6;
}

.root-mobile {
  padding: $mp-6 $mp-4;
}

.root {
  overflow-y: auto;
  min-width: 100%;
  
  & .content {
    display: flex;
  }

  & .typography {
    color: $brand-900;
  }
}
