@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  width: 100%;
  min-width: 100%;

  & .thumbnail-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: $gray-100;
    align-items: center;

    & .wine-thumbnail-image {
      position: absolute;
      max-height: 100%;
      width: auto;
      color: $brand-900;
      padding: $mp-4 0;
    }

    & .menu-item-thumbnail-image {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      color: $brand-900;
    }

    & .no-thumbnail-image {
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      color: $brand-900;
      padding: $mp-4;
    }

    & .thumbnail-image-skeleton {
   
    }
  }

  & .content {
    padding-top: $mp-2;
    padding-left: $mp-4;
    padding-right: $mp-4;
    padding-bottom: $mp-4;
  }

  & .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: $mp-2;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Edge, IE */
    user-select: text; /* Modern browsers */

    & .title-container {
      width: 100%;
      margin-top: $mp-3;

      & .title {
        color: $brand-900;
        font-size: 14pt;
        font-weight: $font-weight-bold;
        margin-bottom: $mp-1;
      }

      & .title-skeleton {
        width: 30%;
      }

      & .subtitle {
        color: $brand-900;
        font-size: 12pt;
        font-weight: $font-weight-bold;
      }
    }

    & .like-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      color: $brand-900;

      & .like-button-skeleton {
        height: 46px;
        width: 46px;
        border-radius: 46px;
      }

      & .like-count-skeleton {
        height: 12px;
        width: 24px;
      }

      & .like-count {
        color: $brand-900;
        font-weight: $font-weight-bold;
        font-size: $font-size-xs;
        line-height: 12px;
      }
    }
  }

  & .description-container {
    font-size: $font-size-sm;
    color: $brand-900;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Edge, IE */
    user-select: text; /* Modern browsers */

    & .skeleton-description {
      font-size: $font-size-sm;
    }

    & .show-more-container {
      width: 100%;
      text-align: end;

      & .show-more-link {
        font-weight: $font-weight-bold;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }

  & .tags-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: $mp-2;
    gap: $mp-1;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Edge, IE */
    user-select: text; /* Modern browsers */

    & .tag {
      border-radius: $rounded-full;
      padding: $mp-2 $mp-4;
      background-color: $brand-900;
      font-size: $font-size-sm;
      margin-bottom: $mp-1;
      color: #fff;
    }

    & .tag-skeleton {
      min-height: 24px;
      width: 68px;
      margin-bottom: $mp-1;
    }
  }

  & .top-bar-container {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(42, 42, 95, .6);
  }

  & .price-container {
    display: flex;
    flex-direction: column;
    overflow: none;

    & .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14pt;
      color: $brand-900;
      font-weight: $font-weight-bold;
      margin-bottom: $mp-2;
      text-transform: uppercase;
      -webkit-touch-callout: text; /* iOS Safari */
      -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
      -moz-user-select: text; /* Firefox */
      -ms-user-select: text; /* Edge, IE */
      user-select: text; /* Modern browsers */
  
      & .calculated-price {
        padding: $mp-1 $mp-4;
        font-size: 12pt;
        font-weight: $font-weight-bold;
        background-color: $brand-500;
        color: #fff;
        border-radius: 999px;
        width: fit-content;
      }
  
      & .original-price-crossed {
        text-decoration: line-through;
      }
  
      & .inventory-quantity {
        font-weight: $font-weight-medium;
        text-transform: lowercase;
        font-size: 12pt;
        line-height: 14pt;
      }
    }
  
    & .tab-container {
      overflow-x: hidden;

      & .tabs-skeleton {
        height: 56px;
      }
  
      & .options-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: $mp-2;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  
        & .option-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: $mp-4;
          margin-bottom: $mp-2;
          text-align: center;
          -webkit-touch-callout: text; /* iOS Safari */
          -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
          -moz-user-select: text; /* Firefox */
          -ms-user-select: text; /* Edge, IE */
          user-select: text; /* Modern browsers */
  
          & .option-title {
            color: $brand-900;
            font-weight: $font-weight-bold;
            font-size: $font-size-xs;
            margin-bottom: $mp-1;
          }
  
          & .option-value {
            color: $brand-900;
            font-weight: $font-weight-medium;
            font-size: $font-size-xs;
          }
  
          & .option-title-skeleton {
            font-size: $font-size-xs;
            width: 42px;
            margin-bottom: $mp-1;
          }
  
          & .option-value-skeleton {
            font-size: $font-size-xs;
            width: 36px;
          }
        }
      }
  
      & .details-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: $mp-2;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        text-align: center;
        -webkit-touch-callout: text; /* iOS Safari */
        -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
        -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Edge, IE */
        user-select: text; /* Modern browsers */
  
        & .details-item-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: $mp-4;
          margin-bottom: $mp-2;
  
          & .details-item-title {
            color: $brand-900;
            font-weight: $font-weight-bold;
            font-size: $font-size-xs;
            margin-bottom: $mp-1;
          }
  
          & .details-item-value {
            color: $brand-900;
            font-weight: $font-weight-medium;
            font-size: $font-size-xs;
          }
  
          & .details-title-skeleton {
            font-size: $font-size-xs;
            width: 42px;
            margin-bottom: $mp-1;
          }
  
          & .details-value-skeleton {
            font-size: $font-size-xs;
            width: 36px;
          }
        }
      }
  
      & .shipping-returns-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-touch-callout: text; /* iOS Safari */
        -webkit-user-select: text; /* Safari, Chrome, Opera, Samsung */ /* Konqueror HTML */
        -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Edge, IE */
        user-select: text; /* Modern browsers */
  
        & .shipping-returns-content {
          margin-bottom: $mp-4;
  
          & .shipping-returns-title-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-bottom: $mp-1;
  
            & .shipping-returns-title {
              color: $brand-900;
              font-size: $font-size-xs;
              font-weight: $font-weight-bold;
              margin-left: $mp-2;
            }
          }
  
          & .shipping-returns-description {
            font-size: $font-size-xs;
            margin-left: $mp-6;
            color: $brand-900;
          }
        }
      }
    }
  
    & .add-to-cart-button-container {
      margin-bottom: $mp-4;
    }
  
    & .add-to-cart-button-skeleton {
      height: 42px;
      margin-bottom: $mp-4;
    }
  
    & .add-to-cart-button {
      background-color: $brand-700;
    }
  
    & .add-to-cart-button:hover {
      background-color: $brand-700;
    }
  }

  & .locations-container {
    display: flex;
    flex-direction: column;
    overflow: none;

    & .locations-top-bar-container {
      z-index: 6;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: stretch;
      gap: $mp-4;

      & .logo-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: $mp-2;
          width: 100%;
          height: 32px;

          & .logo {
              width: 32px;
              height: 32px;
          }

          & .logo-text {
              height: 28px;
              padding: $mp-2 0;
            }
      }

      
      & .search-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          width: 100%;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          border-color: transparent !important;
      
          & .search-input-root {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-box-flex: 1;
                  -ms-flex: 1;
                      flex: 1;
              
              & .search-input-container {
                  background-color: transparent;
                  border-color: $brand-900;
                  border-radius: $rounded-full;
              }

              & .search-input-container-skeleton {
                  margin-bottom: $mp-4;
              }
      
              & .search-input {
                  color: $brand-900;
              }

              & .search-input::-webkit-input-placeholder {
                  color: $brand-900;
              }

              & .search-input::-moz-placeholder {
                  color: $brand-900;
              }

              & .search-input:-ms-input-placeholder {
                  color: $brand-900;
              }

              & .search-input::-ms-input-placeholder {
                  color: $brand-900;
              }

              & .search-input::placeholder {
                  color: $brand-900;
              }

              & .search-input:-ms-input-placeholder {
                  color: $brand-900;
              }

              & .search-input::-ms-input-placeholder {
                  color: $brand-900;
              }
          }
      }
  
      & .tab-container {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }

      & .tab-container-skeleton {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          gap: $mp-4;
          margin-bottom: $mp-4;
      }
  
      & .tab-container::-webkit-scrollbar {
          display: none;
      }
  }

  & .location-items-container {
      display: flex;
      align-content: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      & .loading-ring {
          width: 100%;
          transition: max-height 150ms $transition-standard-easing;
      }

      & .no-searched-stock-locations-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;

          & .no-items-text {
              margin-top: $mp-4;
              color: $brand-900;
              font-size: $font-size-sm;
              text-align: center;
          }
      
          & .no-items-container {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                      flex-direction: row;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              margin-top: $mp-8;
              margin-bottom: $mp-4;
          }
      }
    }
  }
}

.root-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 56px;

  & .content-desktop {
    
  }

  
  & .content-container-desktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: $mp-6;
  }

  & .left-content-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: $mp-6;
    overflow-y: auto;
    overscroll-behavior: none;
  }

  & .middle-content-desktop {
    max-width: 30vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  & .right-content-desktop {
    position: relative;
    max-width: 360px;
    height: 100%;
            flex: 1;
    border-left: 1px solid rgba(42, 42, 95, .6);

    & .top-bar-container-desktop {

    }
  

    & .side-bar-content-desktop {
      overflow-y: auto;
      overscroll-behavior: none;
      overflow-x: hidden;
      padding-bottom: $mp-4;
      padding-top: $mp-4;
    }
  }

  & .thumbnail-container-desktop {
    width: 382px;
    height: 382px;

    & .thumbnail-image-desktop {
    }

    & .thumbnail-image-skeleton-desktop {
      width: 382px;
      height: 382px;
    }
  }

  & .header-container-desktop {
    & .title-container-desktop {
      & .title-desktop {
      }

      & .subtitle-desktop {
      }
    }

    & .like-container-desktop {
      & .like-count-desktop {
      }
    }
  }

  & .description-container-desktop {
    padding-bottom: $mp-6;
    
    & .skeleton-description-desktop {
    }

    & .show-more-container-desktop {
      & .show-more-link-desktop {
      }
    }
  }

  & .tags-container-desktop {
    & .tag-desktop {
    }
  }

  & .price-container-desktop {
    padding-left: $mp-4;
    padding-right: $mp-4;

    & .price-desktop {
      & .inventory-quantity-desktop {
      }
    }
  
    & .tab-container-desktop {
      & .options-container-desktop {
        & .option-content-desktop {
          & .option-title-desktop {
          }
  
          & .option-value-desktop {
          }
        }
      }
  
      & .details-container-desktop {
        & .details-item-content-desktop {
          & .details-item-title-desktop {
          }
  
          & .details-item-value-desktop {
          }
        }
      }
  
      & .shipping-returns-container-desktop {
        & .shipping-returns-content-desktop {
          & .shipping-returns-title-container-desktop {
            & .shipping-returns-title-desktop {
            }
          }
  
          & .shipping-returns-description-desktop {
          }
        }
      }
    }
  
    & .add-to-cart-button-container-desktop {
    }
  
    & .add-to-cart-button-desktop {
    }
  }

  & .locations-container-desktop {
    & .locations-top-bar-container-desktop {
      padding: 0 $mp-4;
      
      & .logo-container-desktop {
          & .logo-desktop {
 
          }

          & .logo-text-desktop {
    
            }
      }

      
      & .search-container-desktop {      
          & .search-input-root-desktop {
              
              & .search-input-container-desktop {

              }

              & .search-input-container-skeleton-desktop {
       
              }
      
              & .search-input-desktop {
              }

              & .search-input-desktop::-webkit-input-placeholder {
              }

              & .search-input-desktop::-moz-placeholder {
              }

              & .search-input-desktop:-ms-input-placeholder {
              }

              & .search-input-desktop::-ms-input-placeholder {
              }

              & .search-input-desktop::placeholder {
              }

              & .search-input-desktop:-ms-input-placeholder {

              }

              & .search-input-desktop::-ms-input-placeholder {
              }
          }
      }
  
      & .tab-container-desktop {

      }

      & .tab-container-skeleton-desktop {

      }
  
      & .tab-container-desktop::-webkit-scrollbar {

      }
  }

  & .location-items-container-desktop {
      & .loading-ring-desktop {

      }

      & .no-searched-stock-locations-container-desktop {
          & .no-items-text-desktop {

          }
      
          & .no-items-container-desktop {
          }
      }
    }
  }
}

.root-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 56px;

  & .content-tablet {
    
  }

  
  & .content-container-tablet {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: $mp-6;
  }

  & .left-content-tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: $mp-6;
    overflow-y: auto;
    overscroll-behavior: none;
  }

  & .middle-content-tablet {
    max-width: 30vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  & .right-content-tablet {
    position: relative;
    max-width: 360px;
    height: 100%;
            flex: 1;
    border-left: 1px solid rgba(42, 42, 95, .6);

    & .top-bar-container-tablet {

    }
  

    & .side-bar-content-tablet {
      overflow-y: auto;
      overscroll-behavior: none;
      overflow-x: hidden;
      padding-bottom: $mp-4;
      padding-top: $mp-4;
    }
  }

  & .thumbnail-container-tablet {
    width: 382px;
    height: 382px;

    & .thumbnail-image-tablet {
    }

    & .thumbnail-image-skeleton-tablet {
      width: 382px;
      height: 382px;
    }
  }

  & .header-container-tablet {
    & .title-container-tablet {
      & .title-tablet {
      }

      & .subtitle-tablet {
      }
    }

    & .like-container-tablet {
      & .like-count-tablet {
      }
    }
  }

  & .description-container-tablet {
    padding-bottom: $mp-6;
    
    & .skeleton-description-tablet {
    }

    & .show-more-container-tablet {
      & .show-more-link-tablet {
      }
    }
  }

  & .tags-container-tablet {
    & .tag-tablet {
    }
  }

  & .price-container-tablet {
    padding-left: $mp-4;
    padding-right: $mp-4;

    & .price-tablet {
      & .inventory-quantity-tablet {
      }
    }
  
    & .tab-container-tablet {
      & .options-container-tablet {
        & .option-content-tablet {
          & .option-title-tablet {
          }
  
          & .option-value-tablet {
          }
        }
      }
  
      & .details-container-tablet {
        & .details-item-content-tablet {
          & .details-item-title-tablet {
          }
  
          & .details-item-value-tablet {
          }
        }
      }
  
      & .shipping-returns-container-tablet {
        & .shipping-returns-content-tablet {
          & .shipping-returns-title-container-tablet {
            & .shipping-returns-title-tablet {
            }
          }
  
          & .shipping-returns-description-tablet {
          }
        }
      }
    }
  
    & .add-to-cart-button-container-tablet {
    }
  
    & .add-to-cart-button-tablet {
    }
  }

  & .locations-container-tablet {
    & .locations-top-bar-container-tablet {
      padding: 0 $mp-4;
      
      & .logo-container-tablet {
          & .logo-tablet {
 
          }

          & .logo-text-tablet {
    
            }
      }

      
      & .search-container-tablet {      
          & .search-input-root-tablet {
              
              & .search-input-container-tablet {

              }

              & .search-input-container-skeleton-tablet {
       
              }
      
              & .search-input-tablet {
              }

              & .search-input-tablet::-webkit-input-placeholder {
              }

              & .search-input-tablet::-moz-placeholder {
              }

              & .search-input-tablet:-ms-input-placeholder {
              }

              & .search-input-tablet::-ms-input-placeholder {
              }

              & .search-input-tablet::placeholder {
              }

              & .search-input-tablet:-ms-input-placeholder {

              }

              & .search-input-tablet::-ms-input-placeholder {
              }
          }
      }
  
      & .tab-container-tablet {

      }

      & .tab-container-skeleton-tablet {

      }
  
      & .tab-container-tablet::-webkit-scrollbar {

      }
  }

  & .location-items-container-tablet {
      & .loading-ring-tablet {

      }

      & .no-searched-stock-locations-container-tablet {
          & .no-items-text-tablet {

          }
      
          & .no-items-container-tablet {
          }
      }
    }
  }
}

.root-mobile {
  overflow-y: auto;
  overscroll-behavior: none;
  height: 100%;
  
  & .thumbnail-container-mobile {
    height: 382px;

    & .thumbnail-image-mobile {
    }

    & .thumbnail-image-skeleton-mobile {
      width: 100vw;
      height: 382px;
    }
  }

  & .content-mobile {
    
  }

  & .header-container-mobile {
    & .title-container-mobile {
      & .title-mobile {
      }

      & .subtitle-mobile {
      }
    }

    & .like-container-mobile {
      & .like-count-mobile {
      }
    }
  }

  & .description-container-mobile {
    & .skeleton-description-mobile {
    }

    & .show-more-container-mobile {
      & .show-more-link-mobile {
      }
    }
  }

  & .price-container-mobile {
    padding: $mp-4;

    & .price-mobile {
      & .inventory-quantity-mobile {
      }
    }
  
    & .tags-container-mobile {
      & .tag-mobile {
      }
    }
  
    & .tab-container-mobile {
      & .options-container-mobile {
        & .option-content-mobile {
          & .option-title-mobile {
          }
  
          & .option-value-mobile {
          }
        }
      }
  
      & .details-container-mobile {
        & .details-item-content-mobile {
          & .details-item-title-mobile {
          }
  
          & .details-item-value-mobile {
          }
        }
      }
  
      & .shipping-returns-container-mobile {
        & .shipping-returns-content-mobile {
          & .shipping-returns-title-container-mobile {
            & .shipping-returns-title-mobile {
            }
          }
  
          & .shipping-returns-description-mobile {
          }
        }
      }
    }
  
    & .add-to-cart-button-container-mobile {
    }
  
    & .add-to-cart-button-mobile {
    }
  }

  & .locations-container-mobile {
    & .locations-top-bar-container-mobile {
      padding: $mp-4;
      
      & .logo-container-mobile {
          & .logo-mobile {
 
          }

          & .logo-text-mobile {
    
            }
      }

      
      & .search-container-mobile {      
          & .search-input-root-mobile {
              
              & .search-input-container-mobile {

              }

              & .search-input-container-skeleton-mobile {
       
              }
      
              & .search-input-mobile {
              }

              & .search-input-mobile::-webkit-input-placeholder {
              }

              & .search-input-mobile::-moz-placeholder {
              }

              & .search-input-mobile:-ms-input-placeholder {
              }

              & .search-input-mobile::-ms-input-placeholder {
              }

              & .search-input-mobile::placeholder {
              }

              & .search-input-mobile:-ms-input-placeholder {

              }

              & .search-input-mobile::-ms-input-placeholder {
              }
          }
      }
  
      & .tab-container-mobile {

      }

      & .tab-container-skeleton-mobile {

      }
  
      & .tab-container-mobile::-webkit-scrollbar {

      }
  }

  & .location-items-container-mobile {
    min-height: 50vh;

      & .loading-ring-mobile {

      }

      & .no-searched-stock-locations-container-mobile {
          & .no-items-text-mobile {

          }
      
          & .no-items-container-mobile {
          }
      }
    }
  }
}

.input-root-skeleton {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: $mp-2;
}

.input-form-layout-label-skeleton {
  margin-bottom: $mp-2;
}

.input-form-layout-label {
  color: $brand-900 !important;
}
    
.input {
  color: $brand-900 !important;
}
    
.input-container {
  border-color: $brand-900 !important;
}

.input-button-desktop:hover {
  background-color: rgba(42, 42, 95, .15) !important;
}

.tab-button {
  color: $brand-900 !important;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-sm !important;
  padding-top: $mp-2 !important;
  padding-bottom: $mp-2 !important;
}

.tab-nav {
  padding: $mp-1 0 !important;
}

.tab-outline {
  background-color: $brand-900 !important;
}

.right-to-left-enter {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.right-to-left-enter-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.right-to-left-exit {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.right-to-left-exit-active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.left-to-right-enter {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.left-to-right-enter-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.left-to-right-exit {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.left-to-right-exit-active {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.modal-overlay {
  z-index: 24;
  background-color: rgba(42, 42, 95, .15);
}

.modal-desktop {
  max-height: 95vh;
  max-width: 500px;
  padding: $mp-8 !important;
  overflow-y: auto;
  overscroll-behavior: none;
}

.modal-text-desktop {
  padding: 0 !important;
}

.modal-text-tablet {
  padding: 0 !important;
}

.modal-title {
  color: $brand-900 !important;
}

.modal-description {
  color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
  height: 100%;
  padding: 0 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-footer-button-container-tablet {
  height: 100%;
  padding: 0 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-address-footer-button-container-desktop {

}

.modal-cancel-button {
  background-color: transparent !important;
  border: 1px solid $brand-900 !important;
  padding-left: $mp-4 !important;
  padding-right: $mp-4 !important;
}

.modal-confirm-button {
  background-color: $brand-700 !important;
  padding-left: $mp-4 !important;
  padding-right: $mp-4 !important;
}