@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.animated-root {
  background-color: #fff;
  border-radius: $mp-2;
  height: 100%;
  width: 100%;
}

.root {
  background-color: #fff;
  border-radius: $mp-2;
  border: 1px solid rgba(42, 42, 95, .6);
  
    & .thumbnail-container {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: $gray-100;
      border-top-left-radius: $mp-2;
      border-top-right-radius: $mp-2;
      align-items: center;

      & .wine-thumbnail-image {
        position: absolute;
        max-height: 100%;
        width: auto;
        color: $brand-900;
        border-radius: 6px;
      }
  
      & .menu-item-thumbnail-image {
        position: absolute;
        height: 100%;
        width: 100%;
        color: $brand-900;
        border-radius: 6px;
        object-fit: cover;
      }
  
      & .no-thumbnail-image {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        color: $brand-900;
        padding: $mp-4;
      }

      & .thumbnail-content-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: $mp-2;
        width: 100%;
        height: 100%;

        & .thumbnail-top-content {
          z-index: 1;

          & .calculated-price {
            font-weight: $font-weight-bold;
            background-color: $brand-500;
            color: #fff;
            border-radius: 999px;
            width: fit-content;
          }
        }
  
        & .thumbnail-bottom-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          z-index: 1;
        }
      }
    }

    & .bottom-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 38px;
      width: 100%;
      border-bottom-left-radius: $mp-2;
      border-bottom-right-radius: $mp-2;
      padding: $mp-1 $mp-2;
    }

    & .product-title {
      color: $brand-900;
      word-break: break-word;
      text-overflow: ellipsis;
      overflow: hidden;

      /* Prevent native touch events on Windows */
      -ms-touch-action: none;

      /* Prevent the callout on tap-hold and text selection */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Prevent text resize on orientation change, useful for web-apps */
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none;
    }

    & .product-price {
      color: $brand-900;
    }

    & .product-price-crossed {
      text-decoration: line-through;
    }

    & .product-limit-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: $brand-900;
    }

    & .status-content-container {
      display: flex;
      flex-direction: column;

      & .like-status-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $brand-900;
        min-height: 46px;
  
        & .like-status-button-skeleton {
          height: 32px;
          width: 32px;
          border-radius: 32px;
        }
  
        & .like-status-count-skeleton {
          height: 12px;
          width: 24px;
        }
  
        & .like-icon {
          margin: $mp-1;
        }
  
        & .like-status-count {
          color: $brand-900;
          font-weight: $font-weight-bold;
          font-size: $font-size-xs;
          line-height: 12px;
        }
     }
    }
}

.root-desktop:hover {
  & .bottom-content-desktop {

    & .product-title-desktop {
      color: $brand-700 !important;
    }

    & .product-subtitle-desktop {
      color: $brand-700 !important;
    }

    & .product-description-desktop {
      color: $brand-700 !important;
    }

    & .product-price-desktop {
      color: $brand-700 !important;
    }
  }
}

.root-desktop {
  width: 344px;
  height: 382px;

  & .thumbnail-container-desktop {
    min-height: 194px;

    & .wine-thumbnail-image-desktop {
      padding: $mp-4;
    }

    & .menu-item-thumbnail-image-desktop {
      
    }

    & .no-thumbnail-image-desktop {
      padding: $mp-4;
    }

    & .thumbnail-content-container-desktop {

      & .thumbnail-top-content-desktop {
        padding: $mp-2;

        & .calculated-price-desktop {
          font-size: $font-size-sm;
          padding: $mp-1 $mp-4;
        }
      }

      & .thumbnail-bottom-content-desktop {

      }
    }
  }

  & .bottom-content-skeleton-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding-left: $mp-4;
    padding-right: $mp-4;
    padding-bottom: $mp-4;
    padding-top:  $mp-3;

    & .bottom-top-content-skeleton-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }

    & .product-details-container-skeleton-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 100%;
      height: 100%;
      gap: $mp-4;

      & .product-description-skeleton-desktop {
        margin-top: $mp-2;
        font-size: $font-size-sm;
        max-height: 114px;
        width: 100%;
      }
    }
  }

  & .bottom-content-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: $mp-4;
    padding-right: $mp-4;
    padding-bottom: $mp-4;
    padding-top:  $mp-3;

    & .bottom-top-content-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }

    & .product-title-container-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 250px;

      & .product-title-desktop {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }

      & .product-subtitle-desktop {
        color: $brand-900;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }
    }

    & .product-price-desktop {
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }

    & .product-limit-icon-desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: 46px;
    }

    & .status-content-container-desktop {
      & .like-status-container-desktop {
        & .like-status-button-skeleton-desktop {
    
        }
  
        & .like-status-count-skeleton-desktop {
        }
  
        & .like-icon-desktop {
        }
  
        & .like-status-count-desktop {
        }
     }
    }

    & .product-details-container-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      gap: $mp-4;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      & .product-description-desktop {
        margin-top: $mp-2;
        color: $brand-900;
        font-size: $font-size-sm;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        overflow: hidden;
        /* Prevent native touch events on Windows */
        -ms-touch-action: none;

        /* Prevent the callout on tap-hold and text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Prevent text resize on orientation change, useful for web-apps */
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        max-height: 114px;
      }

      & .product-status-actions-container-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: space-between;
        min-width: 46px;
        height: 100%;
        padding-top: $mp-2;
      }
    }
  }
}

.root-tablet {
  width: 344px;
  height: 382px;

  & .thumbnail-container-tablet {
    min-height: 194px;

    & .wine-thumbnail-image-tablet {
      padding: $mp-4;
    }

    & .menu-item-thumbnail-image-tablet {
      
    }

    & .no-thumbnail-image-tablet {
      padding: $mp-4;
    }

    & .thumbnail-content-container-tablet {

      & .thumbnail-top-content-tablet {
        padding: $mp-2;

        & .calculated-price-tablet {
          font-size: $font-size-sm;
          padding: $mp-1 $mp-4;
        }
      }

      & .thumbnail-bottom-content-tablet {

      }
    }
  }

  & .bottom-content-skeleton-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding-left: $mp-4;
    padding-right: $mp-4;
    padding-bottom: $mp-4;
    padding-top:  $mp-3;

    & .bottom-top-content-skeleton-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }

    & .product-details-container-skeleton-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 100%;
      height: 100%;
      gap: $mp-4;

      & .product-description-skeleton-tablet {
        margin-top: $mp-2;
        font-size: $font-size-sm;
        max-height: 114px;
        width: 100%;
      }
    }
  }

  & .bottom-content-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: $mp-4;
    padding-right: $mp-4;
    padding-bottom: $mp-4;
    padding-top:  $mp-3;

    & .bottom-top-content-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }

    & .product-title-container-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 250px;

      & .product-title-tablet {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }

      & .product-subtitle-tablet {
        color: $brand-900;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }
    }

    & .product-price-tablet {
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }

    & .product-limit-icon-tablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: 46px;
    }

    & .status-content-container-tablet {
      & .like-status-container-tablet {
        & .like-status-button-skeleton-tablet {
    
        }
  
        & .like-status-count-skeleton-tablet {
        }
  
        & .like-icon-tablet {
        }
  
        & .like-status-count-tablet {
        }
     }
    }

    & .product-details-container-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      gap: $mp-4;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      & .product-description-tablet {
        margin-top: $mp-2;
        color: $brand-900;
        font-size: $font-size-sm;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        overflow: hidden;
        /* Prevent native touch events on Windows */
        -ms-touch-action: none;

        /* Prevent the callout on tap-hold and text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Prevent text resize on orientation change, useful for web-apps */
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        max-height: 114px;
      }

      & .product-status-actions-container-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: space-between;
        min-width: 46px;
        height: 100%;
        padding-top: $mp-2;
      }
    }
  }
}


.root-mobile {
  min-width: 100%;
  height: fit-content;
  min-height: 173px;

  & .animated-root-mobile {
    display: flex;
    flex-direction: row;
    padding: $mp-4;
    gap: $mp-4;
  }

    & .left-content-mobile {
      display: flex;
      flex-direction: column;
      gap: $mp-2;
      flex: 1;

      & .top-content-mobile {
        display: flex;
        flex-direction: row;
        gap: $mp-2;
        width: 100%;
        height: fit-content;

        & .thumbnail-content {
          display: flex;
          flex-direction: row;
          gap: $mp-4;
          width: 100%;

          & .title-container {
            display: flex;
            flex-direction: column;
          }
        }
      }

      & .product-description-skeleton-mobile {
        margin-top: $mp-2;
        font-size: $font-size-sm;
        max-height: 114px;
        width: 100%;
      }
    }

    & .right-content-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      min-width: 56px;
      width: 56px;

      & .price-container-mobile {
        display: flex;
        flex-direction: row;
        gap: $mp-2;
        min-width: 38px;
      }
    }

    & .thumbnail-container-mobile {
      max-height: 382px;

      & .wine-thumbnail-image-mobile {
        padding: $mp-2;
      }
  
      & .menu-item-thumbnail-image-mobile {
        
      }
  
      & .no-thumbnail-image-mobile {
        padding: $mp-2;
      }

      & .thumbnail-content-container-mobile {

        & .thumbnail-top-content-mobile {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & .calculated-price-mobile {
            font-size: $font-size-xs;
            padding: $mp-1 $mp-2;
          }
        }
  
        & .thumbnail-bottom-content-mobile {
        }
      }
    }

    & .product-title-mobile {
      color: $brand-900;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }

    & .product-subtitle-mobile {
      color: $brand-900;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }

    & .product-price-mobile {
      color: $brand-900;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }

    & .product-description-mobile {
      color: $brand-900;
      font-size: $font-size-sm;
         text-overflow: ellipsis;
      overflow: hidden;
      /* Prevent native touch events on Windows */
      -ms-touch-action: none;

      /* Prevent the callout on tap-hold and text selection */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Prevent text resize on orientation change, useful for web-apps */
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none;
      flex: 1;
      max-height: 114px;
    }

    & .product-limit-icon-mobile {
    }

    & .status-content-container-mobile {
      justify-content: center;
      width: 46px;

      
      & .like-status-container-mobile {

        & .like-status-button-skeleton-mobile {
    
        }
  
        & .like-status-count-skeleton-mobile {
        }
  
        & .like-icon-mobile {
        }
  
        & .like-status-count-mobile {
        }
     }
    }
}

.loading-ring {
  width: 24px;
  max-height: 24px;
}

.floating-button {
  background-color: #fff !important;
  color: $brand-900 !important;
  border: 1px solid $brand-900;
}

.like-button-container {
  height: 32px;
}

.like-button {
  padding: $mp-1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100% !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}