@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  
}

.root-mobile {
    overflow-y: auto;
    width: 100%;

    & .thumbnail-container-mobile {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $gray-100;
        padding: 0 $mp-2;
        height: 382px;
  
        & .thumbnail-image-mobile {
        position: absolute;
          max-height: 100%;
          width: auto;
          color: $brand-900;
          padding: $mp-1 0;
        }
  }

  & .content-mobile {
    padding-top: $mp-2;
    padding-left: $mp-4;
    padding-right: $mp-4;
    padding-bottom: $mp-4;

    & .header-container-mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & .title-container-mobile {
        margin-top: $mp-3;

        & .title {
          color: $brand-900;
          font-size: 14pt;
          font-weight: $font-weight-bold;
          margin-bottom: $mp-2;
        }

        & .subtitle {
          color: $brand-900;
          font-size: 12pt;
          font-weight: $font-weight-bold;
        }
      }

      & .like-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;

        & .like-count-mobile {
          font-size: $font-size-sm;
          font-weight: $font-weight-bold;
          margin-right: $mp-1;
        }
      }
    }

    & .description-container-mobile {
      font-size: $font-size-sm;
      color: $brand-900;

      & .show-more-container-mobile {
        width: 100%;
        text-align: end;

        & .show-more-link {
          font-weight: $font-weight-bold;
          -webkit-tap-highlight-color: transparent;
        }
      }
    }

    & .price-mobile {
      font-size: 14pt;
      color: $brand-900;
      font-weight: $font-weight-bold;
      margin-bottom: $mp-2;
      text-transform: uppercase;
    }

    & .tags-container-mobile {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $mp-2;

      & .tag-mobile {
        border-radius: $rounded-full;
        padding: $mp-2 $mp-4;
        background-color: $brand-900;
        font-size: $font-size-sm;
        margin-right: $mp-1;
        margin-bottom: $mp-1;
        color: #fff;
      }
    }

    & .tab-container-mobile {

    }
  }
}

.root {

}

.tab-button {
  color: $brand-900 !important;
  font-weight: $font-weight-bold;
}

.tab-outline {
  background-color: $brand-900 !important;
}
