@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    display: flex;
    width: 100%;

    & .bottom-content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
    }

    & .profile-form-container {}

    & .save-button-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
    }
}

.root-desktop {
    justify-content: center;
    flex-wrap: wrap;
    gap: $mp-4;
    padding: $mp-6;

    & .setting-container-desktop {
        padding: $mp-6;
        background-color: #fff;
        border-radius: 6px;
        height: fit-content;
        min-width: 500px;

        & .bottom-content-container-desktop {}
    }

    & .profile-form-container-desktop {
        padding-top: $mp-6;
    }

    & .save-button-container-desktop {
        padding: $mp-6 0;
    }
}

.root-tablet {
    min-height: 60vh;
    width: 500px;

    & .setting-container-tablet {
        padding: $mp-6;

        & .bottom-content-container-tablet {}
    }

    & .profile-form-container-tablet {}

    & .save-button-container-tablet {
        margin-bottom: $mp-10;
        padding: $mp-6 0;
    }
}

.root-mobile {
    height: 100%;
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    gap: 2px;

    & .setting-container-mobile {
        padding: $mp-4 0;
        background-color: #fff;
        border-radius: 6px;
        height: fit-content;

        & .bottom-content-container-mobile {}
    }

    & .profile-form-container-mobile {
        padding: $mp-4;
    }

    & .save-button-container-mobile {
        margin-bottom: $mp-4;
        padding: 0 $mp-4;
    }
}

.accordion-top-bar {
    margin: 0;
    padding: 0 $mp-4;
}

.accordion-top-bar-mobile {

}

.accordion-panel {
    padding: 0;
}

.accordion-top-bar-label {
    color: $brand-900 !important;
    font-size: $font-size-lg !important;
    font-weight: $font-weight-bold;
}

.button {
    height: 46px;
    color: $brand-900 !important;
}

.button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.save-button {
    background-color: $brand-700 !important;
}

.auth-input-form-layout-label {
    color: $brand-900 !important;
}

.auth-input {
    color: $brand-900 !important;
}

.auth-input-icon-container {
    color: $brand-900 !important;
}

.auth-input-container {
    border-color: transparent !important;
    background-color: rgba(42, 42, 95, .05);
}

.auth-button {
    background-color: $brand-700 !important;
}

.delete-button-container {
    margin-bottom: $mp-4;
}

.delete-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}

.setting-button-container {
    width: 100%;
    height: 48px;
    padding: 0 $mp-4;
}

.setting-button-container-mobile {
 
}

.setting-button-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 48px;

    & .setting-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: $brand-900;
        margin-right: $mp-4;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    & .setting-icon-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: $brand-900;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 46px;
    }

    & .setting-text {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: $brand-900;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        line-height: 48px;
    }
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.loading-ring {
    width: 24px;
    transition: max-height 150ms $transition-standard-easing;
}