@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  display: grid;
  grid-template-columns: 132fr 352fr 956fr;
  height: 100%;

  & .content-desktop {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 10%;
  }
}

.root-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & .content-mobile {
    margin-top: $mp-8;
    margin-bottom: $mp-8;
    padding: 0 $mp-4;
  }
}

.root {
  min-width: 100%;
  
  & .content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .signup-container {
      margin-top: calc(56px + $mp-8);
      margin-bottom: calc(56px + $mp-8);
    }
  }
}

.social-button {
  background-color: transparent !important;
  border-color: $brand-900 !important;
  color: $brand-900 !important;
}

.social-divider:before {
  border-color: $brand-900 !important;
}

.social-divider:after {
  border-color: $brand-900 !important;
}

.social-divider-content {
  color: $brand-900 !important;
}

.auth-input-form-layout-label {
  color: $brand-900 !important;
}

.auth-input {
  color: $brand-900 !important;
}

.auth-input-container {
  border-color: $brand-900 !important;
}

.auth-checkbox {
  border-color: $brand-900 !important;
}

.auth-checkbox-label-container-label {
  color: $brand-900 !important;
}

.auth-email-button {
  background-color: $brand-700 !important;
}
