@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;

  & .content-desktop {
    width: 450px;
  }
}

.root-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;

  & .content-mobile {
    margin-top: $mp-8;
    margin-bottom: $mp-8;
    padding: 0 $mp-4;
  }
}

.root {
  min-width: 100%;
  height: 100%;
  
  & .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    & .signup-container {
      margin-top: calc(56px + $mp-8);
      margin-bottom: calc(56px + $mp-8);
    }
  }
}

.social-button {
  background-color: transparent !important;
  border-color: $brand-900 !important;
  color: $brand-900 !important;
}

.social-divider:before {
  border-color: $brand-900 !important;
}

.social-divider:after {
  border-color: $brand-900 !important;
}

.social-divider-content {
  color: $brand-900 !important;
}

.auth-input-form-layout-label {
  color: $brand-900 !important;
}

.auth-input {
  color: $brand-900 !important;
}

.auth-input-container {
  border-color: $brand-900 !important;
}

.auth-checkbox {
  border-color: $brand-900 !important;
}

.auth-checkbox-label-container-label {
  color: $brand-900 !important;
}

.auth-email-button {
  background-color: $brand-700 !important;
}