@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    width: 100%;
    min-width: 100%;

    & .top-bar-container {
        display: flex;
        border-bottom: 1px solid rgba(42, 42, 95, .6);
        
        & .search-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
        
            & .search-input-root {
                display: flex;
                flex-direction: column;
                flex: 1;
                
                & .search-input-container {
                    background-color: transparent;
                    border-color: $brand-900;
                    border-radius: $rounded-full;
                }
        
                & .search-input {
                    color: $brand-900;
                }

                & .search-input::placeholder {
                    color: $brand-900;
                }

                & .search-input:-ms-input-placeholder {
                    color: $brand-900;
                }

                & .search-input::-ms-input-placeholder {
                    color: $brand-900;
                }
            }
        }
    
        & .tab-container {
            overflow-x: auto;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    
        & .tab-container::-webkit-scrollbar {
            display: none;
        }
    }

    & .scroll-container {
        height: 100%;
        width: 100%;

        & .scroll {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            
            & .loading-ring {
                width: 100%;
                height: 24px;
            }
        }

        & .wine-previews-container {

        }
    }

    & .filter-content {
        & .apply-button-container {
            margin-top: $mp-4;
        }

        & .apply-button {
            background-color: $brand-700;
        }
    }
}

.root-desktop {
    display: flex;
    flex-direction: row;
    height: 100%;

    & .left-content-desktop {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        & .top-bar-container-desktop {
            padding-top: $mp-4;
            flex-direction: row;

            & .top-bar-left-content-desktop {
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
            }

            & .top-bar-right-content-desktop {
                padding-right: $mp-4;
            }
                    
            & .search-container-desktop {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: $mp-4;
                padding-right: $mp-4;

                & .search-input-root-desktop {
                    max-width: 556px;

                    & .search-input-container-desktop {

                    }
            
                    & .search-input-desktop {

                    }

                    & .search-input-desktop::placeholder {

                    }

                    & .search-input-desktop:-ms-input-placeholder {

                    }

                    & .search-input-desktop::-ms-input-placeholder {
                    }
                }
            
                & .filter-button-desktop {

                }
            }
        
            & .tab-container-desktop { 
                width: fit-content;

                & .tab-button-desktop {

                }
        
                & .hovered-tab-button-desktop {
                }
        
                & .tab-slider-pill-desktop {
                }
            }
        
            & .tab-container-desktop::-webkit-scrollbar {

            }
        }

        & .scroll-container-desktop {
            & .scroll-desktop { 
                justify-content: center;
                gap: $mp-6;     
                padding: $mp-6;

                & .loading-ring-desktop {

                }
            }

            & .wine-previews-container-desktop {

            }
        }
    }

    & .filter-content-desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 0px;
        border-left: 1px solid rgba(42, 42, 95, .6);

        & .filter-top-container-desktop {
            padding: $mp-4;

            & .filter-title-desktop {
                line-height: 56px;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                color: $brand-900;
            }
        }

        & .apply-button-container-desktop {
            padding: $mp-4;
        }

        & .apply-button-desktop {
        }
    }
}

.root-mobile {
    & .top-bar-container-mobile {
        flex-direction: column;

        & .search-container-mobile {  
            padding-left: $mp-4;
            padding-right: $mp-4;
            padding-top: $mp-4;

            & .search-input-root-mobile {
                padding-right: $mp-4;

                & .search-input-container-mobile {

                }
        
                & .search-input-mobile {

                }

                & .search-input-mobile::placeholder {

                }

                & .search-input-mobile:-ms-input-placeholder {

                }

                & .search-input-mobile::-ms-input-placeholder {
                }
            }
        
            & .filter-button-mobile {

            }
        }
    
        & .tab-container-mobile { 
            padding: 0 $mp-4;

            & .tab-button-mobile {

            }
    
            & .hovered-tab-button-mobile {
            }
    
            & .tab-slider-pill-mobile {
            }
        }
    
        & .tab-container-mobile::-webkit-scrollbar {

        }
    }

    & .scroll-container-mobile {
        & .scroll-mobile {
            gap: $mp-4;
            padding-top: $mp-4;
            padding-left: $mp-4;
            padding-bottom: calc(56px * 3);

            & .loading-ring-mobile {

            }
        }

        & .wine-previews-container-mobile {

        }
    }

    & .filter-content-mobile {
        padding: $mp-4;

        & .apply-button-container-mobile {
        }

        & .apply-button-mobile {
        }
    }
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: $brand-900 !important;
}
  
.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}

.country-flag {
    margin-right: $mp-2;
}

.option-name {
    color: $brand-900;
    font-size: $font-size-sm;
    overflow: hidden;
}

.filter-button {
    background-color: $brand-700 !important;
}

.tab-button {
    color: $brand-900 !important;
    font-size: $font-size-sm !important;
    font-weight: $font-weight-bold !important;
    padding: $mp-3 $mp-6 !important;
}

.selected-tab-button {
    color: #fff !important;
}

.tab-slider-pill {
    background-color: $brand-900 !important;
}

.side-bar-appear {
    width: 320px;
    min-width: 320px;
}
  
.side-bar-appear-active {
    width: 320px;
    min-width: 320px;
}
  
.side-bar-appear-done {
    width: 320px;
    min-width: 320px;
}
  
.side-bar-enter {
    width: 0px;
    min-width: 0px;
    transition-duration: 250ms;
    transition-timing-function: $transition-standard-easing;
}
  
.side-bar-enter-active {
    width: 320px;
    min-width: 320px;
    transition-duration: 250ms;
    transition-timing-function: $transition-standard-easing;
}
  
.side-bar-enter-done {
    width: 320px;
    min-width: 320px;
    transition-duration: 250ms;
    transition-timing-function: $transition-standard-easing;
}
  
.side-bar-exit {
    width: 320px;
    min-width: 320px;
    transition-duration: 300ms;
    transition-timing-function: $transition-decelerated-easing;
}
  
.side-bar-exit-active {
    width: 0px;
    min-width: 0px;
    transition-duration: 300ms;
    transition-timing-function: $transition-decelerated-easing;
}
  
.side-bar-exit-done {
    width: 0px;
    min-width: 0px;
    transition-duration: 300ms;
    transition-timing-function: $transition-decelerated-easing;
}