@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;

    & .top-bar-container {
        position: absolute;
        z-index: 6;
        display: flex;
        border-bottom: 1px solid rgba(42, 42, 95, .6);
        background-color: #fff;
        width: 100%;

        & .category-type-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $mp-1;
            color: $brand-900;
            font-weight: $font-weight-bold;
        }

        & .top-bar-left-content {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            gap: $mp-2;
            flex: 1;
            align-items: center;
            height: fit-content;
        }

        & .search-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            width: 100%;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            border-color: transparent !important;

            & .search-input-root {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;

                & .search-input-container {
                    background-color: transparent;
                    border-color: $brand-900;
                    border-radius: $rounded-full;
                }

                & .search-input-container-skeleton {
                    margin-bottom: $mp-4;
                }

                & .search-input {
                    color: $brand-900;
                }

                & .search-input::-webkit-input-placeholder {
                    color: $brand-900;
                }

                & .search-input::-moz-placeholder {
                    color: $brand-900;
                }

                & .search-input:-ms-input-placeholder {
                    color: $brand-900;
                }

                & .search-input::-ms-input-placeholder {
                    color: $brand-900;
                }

                & .search-input::placeholder {
                    color: $brand-900;
                }

                & .search-input:-ms-input-placeholder {
                    color: $brand-900;
                }

                & .search-input::-ms-input-placeholder {
                    color: $brand-900;
                }
            }
        }

        & .tab-container {
            overflow-x: auto;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        & .tab-container-skeleton {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            gap: $mp-4;
            margin-bottom: $mp-4;
        }

        & .tab-container::-webkit-scrollbar {
            display: none;
        }

        & .shopping-cart-container-details {
            position: relative;

            & .cart-number-container {
                position: absolute;
                border-radius: $rounded-full;
                background-color: $brand-500;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                & .cart-number {
                    font-size: 10px;
                    font-weight: $font-weight-bold;
                    line-height: 24px;
                    color: #fff;
                }
            }
        }
    }

    & .scroll-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        & .loading-ring {

        }

        & .wine-previews-container {}

        & .no-inventory-location-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;

            & .no-items-text {
                margin-top: $mp-4;
                color: $brand-900;
                font-size: $font-size-sm;
                text-align: center;
            }

            & .no-items-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: $mp-8;
                margin-bottom: $mp-4;
            }
        }
    }

    & .bottom-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $mp-4;
        align-items: center;
        padding: 0 $mp-4;
        z-index: 6;
        background-color: #fff;
        box-shadow: $shadow-2;
        border-radius: 6px;
    }

    & .sales-location-container {
        display: flex;
        justify-content: row;
        text-transform: capitalize;
        gap: $mp-2;
        justify-content: center;
        text-align: center;

        & .sales-location-title {
            line-height: 24px;
            color: $brand-900;
            font-weight: $font-weight-bold;
        }
    }
}

.root-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;

    & .left-content-desktop {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        & .top-bar-container-desktop {
            padding-top: $mp-4;
            flex-direction: row;
            width: 100%;

            & .top-bar-left-content-desktop {
                padding-left: $mp-6;

                & .sales-location-container-desktop {
                    & .sales-location-title-desktop {}
                }
            }

            & .top-bar-middle-content-desktop {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                flex: 1;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            & .top-bar-right-content-desktop {
                display: flex;
                justify-content: flex-end;
                padding-right: $mp-6;
                flex: 1;
            }

            & .search-container-desktop {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding-left: $mp-4;
                padding-right: $mp-4;

                & .search-input-root-desktop {
                    max-width: 556px;

                    & .search-input-container-desktop {}

                    & .search-input-desktop {}

                    & .search-input-desktop::-webkit-input-placeholder {}

                    & .search-input-desktop::-moz-placeholder {}

                    & .search-input-desktop:-ms-input-placeholder {}

                    & .search-input-desktop::-ms-input-placeholder {}

                    & .search-input-desktop::placeholder {}

                    & .search-input-desktop:-ms-input-placeholder {}

                    & .search-input-desktop::-ms-input-placeholder {}
                }
            }

            & .tab-container-desktop {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;

                & .tab-button-desktop {}

                & .hovered-tab-button-desktop {}

                & .tab-slider-pill-desktop {}
            }

            & .tab-container-desktop::-webkit-scrollbar {}
        }

        & .scroll-container-desktop {
            justify-content: center;
            gap: $mp-6;
            padding: $mp-6;
            padding-top: calc(157px + 24px);

            & .loading-ring-desktop {}

            & .wine-previews-container-desktop {}
        }
    }
}

.root-tablet {
    display: flex;
    flex-direction: row;
    height: 100%;

    & .left-content-tablet {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        & .top-bar-container-tablet {
            padding-top: $mp-4;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;

            & .top-bar-left-content-tablet {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                align-items: center;
                padding-left: $mp-6;
                gap: $mp-2;
                flex: 1;


                & .sales-location-container-tablet {
                    & .sales-location-title-tablet {}
                }
            }

            & .top-bar-middle-content-tablet {
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
            }

            & .top-bar-right-content-tablet {
                display: flex;
                justify-content: flex-end;
                padding-right: $mp-6;
                flex: 1;
            }

            & .search-container-tablet {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: $mp-4;
                padding-right: $mp-4;

                & .search-input-root-tablet {
                    max-width: 456px;

                    & .search-input-container-tablet {}

                    & .search-input-tablet {}

                    & .search-input-tablet::-webkit-input-placeholder {}

                    & .search-input-tablet::-moz-placeholder {}

                    & .search-input-tablet:-ms-input-placeholder {}

                    & .search-input-tablet::-ms-input-placeholder {}

                    & .search-input-tablet::placeholder {}

                    & .search-input-tablet:-ms-input-placeholder {}

                    & .search-input-tablet::-ms-input-placeholder {}
                }
            }

            & .tab-container-tablet {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;

                & .tab-button-tablet {}

                & .hovered-tab-button-tablet {}

                & .tab-slider-pill-tablet {}
            }

            & .tab-container-tablet::-webkit-scrollbar {}
        }

        & .scroll-container-tablet {
            justify-content: center;
            gap: $mp-6;
            padding: $mp-6;

            & .loading-ring-tablet {}

            & .wine-previews-container-tablet {}
        }
    }
}

.root-mobile {
    & .top-bar-container-mobile {
        height: 156px;
        width: 100%;
        flex-direction: column;


        & .top-bar-top-content-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: $mp-4;
            padding-left: $mp-4;
            padding-right: $mp-4;
        }

        & .search-container-mobile {
            padding-left: $mp-4;
            padding-right: $mp-4;
            padding-top: $mp-4;

            & .search-input-root-mobile {
                padding-right: $mp-4;

                & .search-input-container-mobile {}

                & .search-input-mobile {}

                & .search-input-mobile::-webkit-input-placeholder {}

                & .search-input-mobile::-moz-placeholder {}

                & .search-input-mobile:-ms-input-placeholder {}

                & .search-input-mobile::-ms-input-placeholder {}

                & .search-input-mobile::placeholder {}

                & .search-input-mobile:-ms-input-placeholder {}

                & .search-input-mobile::-ms-input-placeholder {}
            }
        }

        & .tab-container-mobile {
            padding: 0 $mp-4;


            & .tab-button-mobile {}

            & .hovered-tab-button-mobile {}

            & .tab-slider-pill-mobile {}
        }

        & .tab-container-skeleton-mobile {
            padding: 0 $mp-4;
        }

        & .tab-container-mobile::-webkit-scrollbar {}

        & .shopping-cart-container-details-mobile {
            & .cart-number-container-mobile {
                height: 24px;
                width: 24px;
                top: -8px;
                right: -8px;

                .cart-number-mobile {
                    font-size: 10px;
                    line-height: 24px;
                }
            }
        }
    }

    & .scroll-container-mobile {
        gap: $mp-4;
        padding: $mp-4;

        & .loading-ring-mobile {}

        & .wine-previews-container-mobile {}
    }

    & .bottom-bar-container-mobile {
        position: absolute;
        left: $mp-4;
        height: 56px;
        width: calc(100% - 16px - 16px);

        & .sales-location-container-mobile {
            height: 46px;
            align-items: center;
            width: 100%;

            & .sales-location-title-mobile {}
        }
    }
}

.scroll-root {

}

.scroll-root-tablet {
    padding-top: 157px;
}

.scroll-root-mobile {
    padding-top: 156px;
}

.scroll-content-mobile {

}

.scroll-load-container {
    padding: $mp-4;
}

.outline-button {
    background-color: transparent !important;
    border-color: $brand-900 !important;
    color: $brand-900 !important;
}

.listbox-form-layout-label {
    color: $brand-900 !important;
}

.listbox {
    border-color: $brand-900 !important;
}

.listbox-chevron {
    color: $brand-900 !important;
}

.listbox-label {
    color: $brand-900 !important;
    text-transform: capitalize !important;
}

.country-flag {
    margin-right: $mp-2;
}

.option-name {
    color: $brand-900;
    font-size: $font-size-sm;
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.rounded-button {
    background-color: transparent !important;
    color: $brand-900 !important;
}

.rounded-button:hover {
    background-color: rgba(42, 42, 95, .15) !important;
}

.category-button {
    background-color: transparent !important;
    color: $brand-900 !important;
}

.category-text {
    color: $brand-900 !important;
}

.tab-button {
    color: $brand-900 !important;
    font-size: $font-size-sm !important;
    font-weight: $font-weight-bold !important;
    padding: $mp-3 $mp-6 !important;
}

.selected-tab-button {
    color: #fff !important;
}

.tab-slider-pill {
    background-color: $brand-900 !important;
}

.side-bar-appear {
    width: 320px;
    min-width: 320px;
}

.side-bar-appear-active {
    width: 320px;
    min-width: 320px;
}

.side-bar-appear-done {
    width: 320px;
    min-width: 320px;
}

.side-bar-enter {
    width: 0px;
    min-width: 0px;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: $transition-standard-easing;
    -o-transition-timing-function: $transition-standard-easing;
    transition-timing-function: $transition-standard-easing;
}

.side-bar-enter-active {
    width: 320px;
    min-width: 320px;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: $transition-standard-easing;
    -o-transition-timing-function: $transition-standard-easing;
    transition-timing-function: $transition-standard-easing;
}

.side-bar-enter-done {
    width: 320px;
    min-width: 320px;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: $transition-standard-easing;
    -o-transition-timing-function: $transition-standard-easing;
    transition-timing-function: $transition-standard-easing;
}

.side-bar-exit {
    width: 320px;
    min-width: 320px;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: $transition-decelerated-easing;
    -o-transition-timing-function: $transition-decelerated-easing;
    transition-timing-function: $transition-decelerated-easing;
}

.side-bar-exit-active {
    width: 0px;
    min-width: 0px;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: $transition-decelerated-easing;
    -o-transition-timing-function: $transition-decelerated-easing;
    transition-timing-function: $transition-decelerated-easing;
}

.side-bar-exit-done {
    width: 0px;
    min-width: 0px;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: $transition-decelerated-easing;
    -o-transition-timing-function: $transition-decelerated-easing;
    transition-timing-function: $transition-decelerated-easing;
}

.bottom-bar-appear {
    bottom: 0 !important;
}

.bottom-bar-appear-active {
    bottom: 0 !important;
}

.bottom-bar-appear-done {
    bottom: 0 !important;
}

.bottom-bar-enter {
    bottom: 76px !important;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 75ms;
    -o-transition-duration: 75ms;
    transition-duration: 75ms;
    -webkit-transition-timing-function: $transition-standard-easing;
    -o-transition-timing-function: $transition-standard-easing;
    transition-timing-function: $transition-standard-easing;
}

.bottom-bar-enter-active {
    bottom: calc(-76px * 2) !important;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 75ms;
    -o-transition-duration: 75ms;
    transition-duration: 75ms;
    -webkit-transition-timing-function: $transition-standard-easing;
    -o-transition-timing-function: $transition-standard-easing;
    transition-timing-function: $transition-standard-easing;
}

.bottom-bar-enter-done {
    bottom: calc(-76px * 2) !important;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 75ms;
    -o-transition-duration: 75ms;
    transition-duration: 75ms;
    -webkit-transition-timing-function: $transition-standard-easing;
    -o-transition-timing-function: $transition-standard-easing;
    transition-timing-function: $transition-standard-easing;
}

.bottom-bar-exit {
    bottom: calc(-76px * 2) !important;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: $transition-decelerated-easing;
    -o-transition-timing-function: $transition-decelerated-easing;
    transition-timing-function: $transition-decelerated-easing;
}

.bottom-bar-exit-active {
    bottom: 76px !important;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: $transition-decelerated-easing;
    -o-transition-timing-function: $transition-decelerated-easing;
    transition-timing-function: $transition-decelerated-easing;
}

.bottom-bar-exit-done {
    bottom: 76px !important;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: $transition-decelerated-easing;
    -o-transition-timing-function: $transition-decelerated-easing;
    transition-timing-function: $transition-decelerated-easing;
}

.add-variants-container {
    display: flex;
    flex-direction: column;
}

.modal-overlay {
    z-index: 24;
    background-color: rgba(42, 42, 95, .15);
}

.modal-desktop {
    max-height: 95vh;
    min-width: 500px;
    overflow-y: auto;
    overscroll-behavior: none;
}

.modal-text-desktop {
    padding: $mp-8 !important;
}

.modal-tablet {
    max-height: 95vh;
    min-width: 500px;
    overflow-y: auto;
    overscroll-behavior: none;
}

.modal-text-tablet {
    padding: $mp-6 !important;
}

.modal-title {
    color: $brand-900 !important;
}

.modal-description {
    color: $brand-900 !important;
}

.modal-footer-button-container-desktop {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-address-footer-button-container-desktop {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-footer-button-container-tablet {
    padding-left: $mp-6 !important;
    padding-right: $mp-6 !important;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-address-footer-button-container-tablet {
    border-top: 1px solid rgba(42, 42, 95, .6);
}

.modal-cancel-button {
    background-color: transparent !important;
    border: 1px solid $brand-900 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.modal-confirm-button {
    background-color: $brand-700 !important;
    padding-left: $mp-4 !important;
    padding-right: $mp-4 !important;
}

.dropdown-touchscreen-overlay {
    background-color: rgba(42, 42, 95, .15) !important;
}

.add-to-cart-button-container-mobile {
    padding: $mp-4;
}

.add-to-cart-button {
    background-color: $brand-700;
}

.add-to-cart-button:hover {
    background-color: $brand-700;
}

.add-variants-container-tablet {
    & .variant-container-tablet {}
}

.add-variants-container-desktop {
    & .variant-container-desktop {}
}

.filter-content {
    & .apply-button-container {
        margin-top: $mp-4;
    }

    & .apply-button {
        background-color: $brand-700;
    }
}

.filter-content-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 0px;
    border-left: 1px solid rgba(42, 42, 95, .6);

    & .filter-top-container-desktop {
        padding: $mp-4;

        & .filter-title-desktop {
            line-height: 56px;
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
            color: $brand-900;
        }
    }

    & .apply-button-container-desktop {
        padding: $mp-4;
    }

    & .apply-button-desktop {}
}

.filter-content-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 0px;
    border-left: 1px solid rgba(42, 42, 95, .6);

    & .filter-top-container-tablet {
        padding: $mp-4;

        & .filter-title-tablet {
            line-height: 56px;
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
            color: $brand-900;
        }
    }

    & .apply-button-container-tablet {
        padding: $mp-4;
    }

    & .apply-button-tablet {}
}

.filter-content-mobile {
    padding: $mp-4;

    & .apply-button-container-mobile {}

    & .apply-button-mobile {}
}

.no-avatar-container {
    background-color: $brand-700 !important;
    color: #fff !important;
}

.no-avatar-container-desktop {
    width: 24px;
    height: 24px;
}

.no-avatar-container-tablet {
    width: 24px;
    height: 24px;
}

.no-avatar-container-mobile {
    width: 28px;
    height: 28px;
}

.avatar-container {
    background-color: #fff !important;
}

.avatar-container-desktop {
    width: 24px;
    height: 24px;
}

.avatar-container-tablet {
    width: 24px;
    height: 24px;
}

.avatar-container-mobile {
    width: 28px;
    height: 28px;
}