@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root-desktop {
  padding: $mp-6;
}

.root-mobile {
  padding: $mp-6 $mp-4;
}

.root {
  overflow-y: auto;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  min-width: 100%;
  
  & .content {
    display: flex;
  }

  & .typography {
    color: $brand-900;
  }
}
