@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  display: flex;
  height: 100%;
  width: 100vw;
  background: #fff;
  overflow: hidden;
  flex-direction: column;

  & .alert {
    position: absolute;
    left: 10%;
    z-index: 12;
    width: 80%;
  }

  & .content {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  & .bottom-bar {
    position: relative;
    display: flex;
    height: 56px;
    width: 100%;
    background-color: $brand-900;
    box-shadow: $shadow-6;
    z-index: 20;

    & .shopping-cart-container {
      position: absolute;
      border-radius: $rounded-full;
      top: -50%;
      left: calc(50% - (56px / 2));

      & .shopping-cart-container-details {
        position: relative;

        & .cart-number-container {
          position: absolute;
          border-radius: $rounded-full;
          background-color: $brand-500;
          height: 24px;
          width: 24px;
          top: -4px;
          right: -4px;
          text-align: center;
          display: flex;
          justify-content: center;

          .cart-number {
            font-size: 10px;
            font-weight: $font-weight-bold;
            line-height: 24px;
            color: #fff;
          }
        }

        & .shopping-cart-button-container {
          box-shadow: $shadow-1;
        }
  
        & .shopping-cart-button {
          background-color: $brand-100;
        }
      }
    }

    & .tab-button-container {
      width: fit-content;
      padding-right: $mp-1;
    }

    & .tab-container {
      display: grid;
      grid-template-columns: 1fr 56px 1fr;
      width: 100%;
      align-items: center;

      & .left-tab-container {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0 $mp-2;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
      }

      & .right-tab-container {
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 0 $mp-2;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
      }
    }

    & .navigation-back-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 $mp-2;
      height: 100%;
      width: 100%;

      & .navigation-back-text-container {
        font-size: $font-size-sm;
        text-transform: uppercase;
        color: $brand-100;
        font-weight: $font-weight-bold;
        padding-right: 40px;
        width: 100%;
        flex: 1;
        text-align: center;
      }
    }
  }

  & .dropdown-text {
    color: $brand-900;
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }

  & .toast-overlay-root {
    padding-top: $mp-4;
    height: 100%;
  }

  & .toast-overlay-container {
    height: 100%;
    width: 100%;
  }

  & .toast-life {
    background-image: linear-gradient(130deg, #85267A, #E92142);
  }
}

.root-tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $brand-900;
  height: 100%;
  width: 100%;

  & .content-container-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .logo-tablet {
      width: 25%;
      height: auto;
      margin-bottom: $mp-4;
    }

    & .not-supported-text-tablet {
      color: white;
      font-size: 12pt;
    }
  }
}

.root-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $brand-900;
  height: 100%;
  width: 100%;

  & .content-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .logo-desktop {
      width: 50%;
      height: auto;
      margin-bottom: $mp-4;
    }

    & .not-supported-text-desktop {
      color: white;
      font-size: 14pt;
    }
  }
}


.avatar-container {
  width: 24px;
  height: 24px;
  background-color: $brand-700 !important;
}

.avatar-container-selected {
  border-radius: $rounded-full;
  border: solid 2px $brand-100;
}

.right-to-left-enter {
  transform: translateX(100%);
}

.right-to-left-enter-active {
  transform: translateX(0);
  transition:all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.right-to-left-exit {
  transform: translateX(0);
}

.right-to-left-exit-active {
  transform: translateX(-100%);
  transition:all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.left-to-right-enter {
  transform: translateX(-100%);
}

.left-to-right-enter-active {
  transform: translateX(0);
  transition:all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.left-to-right-exit {
  transform: translateX(0);
}

.left-to-right-exit-active {
  transform: translateX(100%);
  transition:all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}  