@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  display: flex;
  height: 100%;
  width: 100vw;
  min-width: 100%;
  background: #fff;
  overflow: hidden;
  flex-direction: column;

  & .alert {
    position: absolute;
    left: 10%;
    z-index: 12;
    width: 80%;
  }

  & .content {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  & .shopping-cart-container-details {
    position: relative;

    & .cart-number-container {
      position: absolute;
      border-radius: $rounded-full;
      background-color: $brand-500;
      text-align: center;
      display: flex;
      justify-content: center;

      .cart-number {
        font-size: 10px;
        font-weight: $font-weight-bold;
        line-height: 24px;
        color: #fff;
      }
    }
  }

  & .dropdown-text {
    color: $brand-900;
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }

  & .toast-overlay-root {
    padding-top: $mp-4;
    height: 100%;
  }

  & .toast-overlay-container {
    height: 100%;
    width: 100%;
  }

  & .toast-life {
    background-image: linear-gradient(130deg, #85267A, #E92142);
  }
}

.root-mobile {
  & .content-mobile {
  
  }

  & .bottom-bar-mobile {
    position: relative;
    display: flex;
    height: 56px;
    width: 100%;
    background-color: $brand-900;
    box-shadow: $shadow-6;
    z-index: 20;

    & .shopping-cart-container-mobile {
      position: absolute;
      border-radius: $rounded-full;
      top: -50%;
      left: calc(50% - (56px / 2));

      & .shopping-cart-container-details-mobile {
        & .cart-number-container-mobile {
          height: 24px;
          width: 24px;
          top: -4px;
          right: -4px;

          .cart-number-mobile {
            font-size: 10px;
            line-height: 24px;
          }
        }

        & .shopping-cart-button-container-mobile {
          box-shadow: $shadow-1;
        }
  
        & .shopping-cart-button-mobile {
          background-color: $brand-100;
        }
      }
    }

    & .tab-container {
      display: grid;
      grid-template-columns: 1fr 56px 1fr;
      width: 100%;
      align-items: center;

      & .left-tab-container {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0 $mp-2;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
      }

      & .right-tab-container {
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 0 $mp-2;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
      }
    }

    & .navigation-back-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 $mp-2;
      height: 100%;
      width: 100%;

      & .navigation-back-text-container {
        font-size: $font-size-sm;
        text-transform: uppercase;
        color: $brand-100;
        font-weight: $font-weight-bold;
        padding-right: 40px;
        width: 100%;
        flex: 1;
        text-align: center;
      }
    }
  }
}

.root-tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $brand-900;
  height: 100%;
  width: 100%;

  & .content-container-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .logo-tablet {
      width: 25%;
      height: auto;
      margin-bottom: $mp-4;
    }

    & .not-supported-text-tablet {
      color: white;
      font-size: 12pt;
    }
  }
}

.root-desktop {
  & .top-bar-desktop {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    background-color: $brand-900;
    box-shadow: $shadow-1;
    padding: 0 $mp-6;
    z-index: 20;

    & .top-bar-left-content-desktop {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: $mp-4;

      & .logo-container-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 28px;
        gap: $mp-3;

        & .logo-text-desktop {
          height: 28px;
          padding: $mp-2 0;
        }
      }
    }

    & .top-bar-right-content-desktop {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: $mp-4;

      & .shopping-cart-container-details-desktop {
        & .cart-number-container-desktop {
          height: 18px;
          width: 18px;
          top: -2px;
          right: -2px;

          .cart-number-desktop {
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }

  & .content-desktop {
    flex-direction: row;

    & .side-bar-desktop {
      border-right-width: 1px;
      border-left-width: 0px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      border-color: rgba(42, 42, 95, .6);
      border-style: solid;
      padding: 0 $mp-4;
    }

    & .right-content-desktop {
      display: flex;
      flex-direction: column;
      width: 100%;

      & .navigation-back-container-desktop {
        width: 100%;
        height: 56px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 1px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
      }
    }
  }
}

.top-bar-button-container {
  width: fit-content;
}

.tab-button-container {
  width: fit-content;
  padding-right: $mp-1;
}

.avatar-container {
  width: 24px;
  height: 24px;
  background-color: $brand-700 !important;
}

.avatar-container-selected {
  border-radius: $rounded-full;
  border: solid 2px $brand-100;
}

.tab-outline {
  background-color: $brand-700 !important;
}

.tab-outline-open {
  transition-duration: 250ms !important;
  transition-timing-function: $transition-decelerated-easing !important;
}

.tab-outline-close {
  transition-duration: 250ms !important;
  transition-timing-function: $transition-decelerated-easing !important;

}

.tab-slider {
  background-color: rgba(133, 38, 122, .2) !important;
}

.tab-icon {
  color: $brand-900 !important;
}

.tab-button {
  color: $brand-900 !important;
  font-weight: $font-weight-bold;
}

.hovered-tab-icon {
  color: $brand-700 !important;
}

.hovered-tab-button {
  color: $brand-700 !important;
}

.right-to-left-enter {
  transform: translateX(100%);
}

.right-to-left-enter-active {
  transform: translateX(0);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.right-to-left-exit {
  transform: translateX(0);
}

.right-to-left-exit-active {
  transform: translateX(-100%);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.left-to-right-enter {
  transform: translateX(-100%);
}

.left-to-right-enter-active {
  transform: translateX(0);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}      

.left-to-right-exit {
  transform: translateX(0);
}

.left-to-right-exit-active {
  transform: translateX(100%);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.side-bar-appear {
  width: 256px;
  min-width: 256px;
}

.side-bar-appear-active {
  width: 256px;
  min-width: 256px;
}

.side-bar-appear-done {
  width: 256px;
  min-width: 256px;
}

.side-bar-enter {
  width: 88px;
  min-width: 88px;
  transition-duration: 250ms;
  transition-timing-function: $transition-standard-easing;
}

.side-bar-enter-active {
  width: 256px;
  min-width: 256px;
  transition-duration: 250ms;
  transition-timing-function: $transition-standard-easing;
}

.side-bar-enter-done {
  width: 256px;
  min-width: 256px;
  transition-duration: 250ms;
  transition-timing-function: $transition-standard-easing;
}

.side-bar-exit {
  width: 256px;
  min-width: 256px;
  transition-duration: 300ms;
  transition-timing-function: $transition-decelerated-easing;
}

.side-bar-exit-active {
  width: 88px;
  min-width: 88px;
  transition-duration: 300ms;
  transition-timing-function: $transition-decelerated-easing;
}

.side-bar-exit-done {
  width: 88px;
  min-width: 88px;
  transition-duration: 300ms;
  transition-timing-function: $transition-decelerated-easing;
}