@import '@fuoco.appdev/core-ui/dist/cjs/styles.scss';

.root {
  position: relative;
  display: flex;
  height: 100%;
  width: 100vw;
  min-width: 100%;
  overflow: hidden;
  flex-direction: column;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;

  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;

  & .alert {
    position: absolute;
    left: 10%;
    z-index: 12;
    width: 80%;
  }

  & .content {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overscroll-behavior: none;
    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
  }

  & .shopping-cart-container-details {
    position: relative;

    & .cart-number-container {
      position: absolute;
      border-radius: $rounded-full;
      background-color: $brand-500;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      & .cart-number {
        font-size: 10px;
        font-weight: $font-weight-bold;
        line-height: 24px;
        color: #fff;
      }
    }
  }

  & .notification-container-details {
    position: relative;

    & .notification-status-container {
      position: absolute;
      border-radius: $rounded-full;
      background-color: $brand-500;
      height: 8px;
      width: 8px;
      top: -2px;
      right: -2px;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
}

.root-mobile {
  background: linear-gradient(rgba(42, 42, 95, .1), rgba(42, 42, 95, .2));

  & .content-mobile {
    padding-bottom: 56px;
  }

  & .bottom-bar-container-mobile {
    position: absolute;
    height: 56px;
    width: 100%;
    z-index: 20;
    bottom: 0;
  }

  & .bottom-bar-mobile {
    position: relative;
    display: flex;
    background-color: $brand-900;
    height: 56px;

    & .shopping-cart-container-mobile {
      position: absolute;
      border-radius: $rounded-full;
      top: -50%;
      left: calc(50% - (56px / 2));

      & .shopping-cart-container-details-mobile {
        & .cart-number-container-mobile {
          height: 24px;
          width: 24px;
          top: -4px;
          right: -4px;

          .cart-number-mobile {
            font-size: 10px;
            line-height: 24px;
          }
        }

        & .shopping-cart-button-container-mobile {
          -webkit-box-shadow: $shadow-1;
          box-shadow: $shadow-1;
        }

        & .shopping-cart-button-mobile {
          background-color: $brand-100;
        }
      }
    }

    & .tab-container-mobile {
      display: flex;
      width: 100%;
      align-items: center;
    }

    & .navigation-back-container-mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 $mp-2;
      height: 100%;
      width: 100%;

      & .navigation-back-text-container-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        font-size: $font-size-sm;
        text-transform: capitalize;
        line-height: 24px;
        color: $brand-100;
        font-weight: $font-weight-bold;
        padding-right: 40px;
        width: 100%;
        flex: 1;
        gap: $mp-2;
        text-align: center;
        justify-content: center;
      }
    }
  }

  & .notification-container-details-mobile {
    display: flex;
    min-height: 100%;
    flex: 1;
    align-items: center;

    & .notification-status-container-mobile {}
  }
}

.root-tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 100%;
  background: linear-gradient(rgba(42, 42, 95, .1), rgba(42, 42, 95, .05));

  & .content-container-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .logo-tablet {
      width: 25%;
      height: auto;
      margin-bottom: $mp-4;
    }

    & .not-supported-text-tablet {
      color: white;
      font-size: 12pt;
    }
  }

  & .notification-container-details-tablet {
    & .notification-status-container-tablet {}
  }
}

.root-desktop {
  background: linear-gradient(rgba(42, 42, 95, .1), rgba(42, 42, 95, .05));

  & .top-bar-desktop {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 56px;
    width: 100%;
    background-color: $brand-900;
    padding: 0 $mp-6;
    z-index: 20;

    & .top-bar-left-content-desktop {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: $mp-4;

      & .logo-container-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 28px;
        gap: $mp-3;

        & .logo-text-desktop {
          height: 28px;
          padding: $mp-2 0;
        }
      }
    }

    & .top-bar-right-content-desktop {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: $mp-4;

      & .shopping-cart-container-details-desktop {
        & .cart-number-container-desktop {
          height: 18px;
          width: 18px;
          top: -2px;
          right: -2px;

          .cart-number-desktop {
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }

  & .content-desktop {
    flex-direction: row;
    gap: 2px;

    & .side-bar-desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 $mp-4;
      width: 88px;
      min-width: 88px;
      height: 100%;
      background-color: #fff;
      border-radius: 6px;

      & .skeleton-tabs-desktop {
        display: flex;
        flex-direction: column;
        padding: $mp-4 0;
        gap: $mp-2;
      }

      & .side-bar-bottom-content-desktop {
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 1px;
        border-bottom-width: 0px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
        padding: $mp-4 0;

        & .side-bar-link-container-desktop {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-align: center;
        }

        & .copyright-text-desktop {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: $mp-4;
          font-size: $font-size-xs;
          color: $brand-900;
          text-align: center;
        }
      }
    }

    & .right-content-desktop {
      position: relative;
      display: flex;
      gap: 2px;
      flex-direction: column;
      overflow: hidden;
      /* Prevent native touch events on Windows */
      -ms-touch-action: none;

      /* Prevent the callout on tap-hold and text selection */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Prevent text resize on orientation change, useful for web-apps */
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none;
      width: 100%;

      & .navigation-back-container-desktop {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: -moz-available;
        /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        width: stretch;
        height: 56px;
        min-height: 56px;
        padding: 0 $mp-4;
        z-index: 19;
        background-color: #fff;
        border-radius: 6px;

        & .navigation-back-left-content-desktop {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 100%;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
        }

        & .navigation-back-center-content-desktop {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-weight: $font-weight-bold;
          color: $brand-900;
          gap: $mp-2;
          height: 100%;
        }

        & .navigation-back-right-content-desktop {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 100%;
          gap: $mp-2;
        }
      }
    }
  }

  & .notification-container-details-desktop {
    & .notification-status-container-desktop {}
  }

  & .toast-container-desktop {
    max-width: 400px;
  }
}

.root-tablet {
  background: linear-gradient(rgba(42, 42, 95, .2), rgba(42, 42, 95, .3));

  & .top-bar-tablet {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 56px;
    width: 100%;
    background-color: $brand-900;
    padding: 0 $mp-6;
    z-index: 20;

    & .top-bar-left-content-tablet {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: $mp-4;

      & .logo-container-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 28px;
        gap: $mp-3;

        & .logo-text-tablet {
          height: 28px;
          padding: $mp-2 0;
        }
      }
    }

    & .top-bar-right-content-tablet {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: $mp-4;

      & .shopping-cart-container-details-tablet {
        & .cart-number-container-tablet {
          height: 18px;
          width: 18px;
          top: -2px;
          right: -2px;

          .cart-number-tablet {
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }

  & .content-tablet {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    & .side-bar-tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 $mp-4;
      width: 88px;
      min-width: 88px;
      height: 100%;

      & .skeleton-tabs-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: $mp-4 0;
        gap: $mp-2;
      }

      & .side-bar-bottom-content-tablet {
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 1px;
        border-bottom-width: 0px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
        padding: $mp-4 0;

        & .side-bar-link-container-tablet {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          text-align: center;
        }

        & .copyright-text-tablet {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          padding: $mp-4;
          font-size: $font-size-xs;
          color: $brand-900;
          text-align: center;
        }
      }
    }

    & .right-content-tablet {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
      /* Prevent native touch events on Windows */
      -ms-touch-action: none;

      /* Prevent the callout on tap-hold and text selection */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Prevent text resize on orientation change, useful for web-apps */
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none;
      width: 100%;

      & .navigation-back-container-tablet {
        position: absolute;
        top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: -moz-available;
        /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        width: stretch;
        height: 56px;
        min-height: 56px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 1px;
        border-color: rgba(42, 42, 95, .6);
        border-style: solid;
        padding: 0 $mp-4;
        z-index: 19;
        background-color: #fff;

        & .navigation-back-left-content-tablet {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 100%;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
        }

        & .navigation-back-center-content-tablet {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-weight: $font-weight-bold;
          color: $brand-900;
          gap: $mp-2;
          height: 100%;
        }

        & .navigation-back-right-content-tablet {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 100%;
          width: 46px;
        }
      }
    }
  }

  & .toast-container-tablet {
    max-width: 400px;
  }
}

.modal-overlay {
  z-index: 24;
  background-color: rgba(42, 42, 95, .15);
}

.modal-desktop {
  max-height: 95vh;
  max-width: 500px;
  padding: $mp-8 !important;
  overflow-y: auto;
  overscroll-behavior: none;
}

.modal-text-desktop {
  padding: 0 !important;
}

.modal-text-tablet {
  padding: 0 !important;
}

.modal-title {
  color: $brand-900 !important;
}

.modal-description {
  color: $brand-900 !important;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.modal-footer-button-container-desktop {
  height: fit-content;
  padding: 0 !important;
  align-items: center;
  padding-top: $mp-4 !important;

}

.modal-footer-button-container-tablet {
  height: fit-content;
  padding: 0 !important;
  align-items: center;
  padding-top: $mp-4 !important;
}

.modal-address-footer-button-container-desktop {}

.modal-cancel-button {
  background-color: transparent !important;
  border: 1px solid $brand-900 !important;
  padding-left: $mp-4 !important;
  padding-right: $mp-4 !important;
}

.modal-confirm-button {
  background-color: $brand-700 !important;
  padding-left: $mp-4 !important;
  padding-right: $mp-4 !important;
  border: 0 !important;
}

.dropdown-touchscreen-overlay {
  background-color: rgba(42, 42, 95, .15) !important;
}

.top-bar-button-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tab-button-container {
  flex: 1;
}

.navigate-back-button-container {}

.tab-button-root {
  height: 100%;
}

.avatar-container {
  width: 24px;
  height: 24px;
  background-color: #fff !important;
}

.no-avatar-container {
  width: 24px;
  height: 24px;
  background-color: $brand-700 !important;
  color: #fff !important;
}

.avatar-container-selected {
  border-radius: $rounded-full;
  border: solid 2px $brand-100;
}

.tab-outline {
  background-color: $brand-700 !important;
}

.tab-outline-open {
  -webkit-transition-duration: 250ms !important;
  -o-transition-duration: 250ms !important;
  transition-duration: 250ms !important;
  -webkit-transition-timing-function: $transition-decelerated-easing !important;
  -o-transition-timing-function: $transition-decelerated-easing !important;
  transition-timing-function: $transition-decelerated-easing !important;
}

.tab-outline-close {
  -webkit-transition-duration: 250ms !important;
  -o-transition-duration: 250ms !important;
  transition-duration: 250ms !important;
  -webkit-transition-timing-function: $transition-decelerated-easing !important;
  -o-transition-timing-function: $transition-decelerated-easing !important;
  transition-timing-function: $transition-decelerated-easing !important;

}

.tab-slider {
  background-color: rgba(133, 38, 122, .2) !important;
}

.tab-icon {
  color: $brand-900 !important;
}

.tab-button {
  color: $brand-900 !important;
  font-weight: $font-weight-bold;
  margin: 0 !important;
}

.hovered-tab-icon {
  color: $brand-700 !important;
}

.hovered-tab-button {
  color: $brand-700 !important;
}

.right-to-left-enter {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.right-to-left-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.right-to-left-exit {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.right-to-left-exit-active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.left-to-right-enter {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.left-to-right-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.left-to-right-exit {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.left-to-right-exit-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.side-bar-appear {
  width: 256px !important;
  min-width: 256px !important;
}

.side-bar-appear-active {
  width: 256px !important;
  min-width: 256px !important;
}

.side-bar-appear-done {
  width: 256px !important;
  min-width: 256px !important;
}

.side-bar-enter {
  width: 88px !important;
  min-width: 88px !important;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.side-bar-enter-active {
  width: 256px !important;
  min-width: 256px !important;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.side-bar-enter-done {
  width: 256px !important;
  min-width: 256px !important;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.side-bar-exit {
  width: 256px !important;
  min-width: 256px !important;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.side-bar-exit-active {
  width: 88px !important;
  min-width: 88px !important;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.side-bar-exit-done {
  width: 88px !important;
  min-width: 88px !important;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.bottom-bar-appear {
  bottom: 0 !important;
}

.bottom-bar-appear-active {
  bottom: 0 !important;
}

.bottom-bar-appear-done {
  bottom: 0 !important;
}

.bottom-bar-enter {
  bottom: 0 !important;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.bottom-bar-enter-active {
  bottom: calc(-56px * 2) !important;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.bottom-bar-enter-done {
  bottom: calc(-56px * 2) !important;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.bottom-bar-exit {
  bottom: calc(-56px * 2) !important;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.bottom-bar-exit-active {
  bottom: 0 !important;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.bottom-bar-exit-done {
  bottom: 0 !important;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.navigation-back-appear {
  top: 0 !important;
}

.navigation-back-appear-active {
  top: 0 !important;
}

.navigation-back-appear-done {
  top: 0 !important;
}

.navigation-back-enter {
  top: -56px !important;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.navigation-back-enter-active {
  top: 0 !important;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.navigation-back-enter-done {
  top: 0 !important;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.navigation-back-exit {
  top: 0 !important;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.navigation-back-exit-active {
  top: -56px !important;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.navigation-back-exit-done {
  top: -56px !important;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.button {
  color: $brand-900 !important;
}

.button:hover {
  background-color: rgba(42, 42, 95, .15) !important;
}

.floating-label-container {
  color: #fff;
}

.dropdown-text {
  color: $brand-900;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
}

.toast-avatar-icon {
  height: 32px;
  width: 32px;
}

.toast-order-icon {
  position: relative;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: $gray-100;

  & .thumbnail-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: $brand-900;
  }

  & .no-thumbnail-image {
    padding: $mp-1;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    color: $brand-900;
  }
}

.toast-overlay-root {
  height: 100%;
}

.toast-overlay-root-desktop {
  padding-top: calc(56px + 24px);
}

.toast-overlay-root-mobile {
  padding-top: $mp-4;
}

.toast-overlay-container {
  height: 100%;
  width: 100%;
}

.toast-container {
  padding: $mp-4;
}

.toast-description {
  color: #fff;
  opacity: .9 !important;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.toast-life {
  background-image: $gray-100;
}

.banner-overlay-root-desktop {
  height: 100% !important;
  padding-bottom: $mp-6 !important;
}

.banner-overlay-root-mobile {
  height: 100% !important;
  padding-bottom: calc(56px + 16px) !important;
}

.banner-overlay-root-tablet {
  height: 100% !important;
  padding-bottom: $mp-6 !important;
}