{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "@loadable/babel-plugin"
  ]
}
